:root {
  --body-bg-rgb: 242, 244, 249;
  --primary-rgb: 3, 181, 98;
  --secondary-rgb: 127, 103, 257;
  --warning-rgb: 255, 169, 9;
  --info-rgb: 15, 188, 249;
  --success-rgb: 83, 196, 5;
  --danger-rgb: 253, 73, 99;
  --light-rgb: 246, 249, 249;
  --dark-rgb: 10, 10, 10;
  --orange-rgb: 254, 124, 88;
  --pink-rgb: 254, 84, 155;
  --teal-rgb: 0, 216, 216;
  --purple-rgb: 123, 118, 254;
  --green-rgb: 1, 239, 140;
  --default-body-bg-color: rgb(var(--body-bg-rgb));
  --primary-color: rgb(var(--primary-rgb));
  --primary-border: rgb(var(--primary-rgb));
  --primary01: rgba(var(--primary-rgb), 0.1);
  --primary02: rgba(var(--primary-rgb), 0.2);
  --primary03: rgba(var(--primary-rgb), 0.3);
  --primary04: rgba(var(--primary-rgb), 0.4);
  --primary05: rgba(var(--primary-rgb), 0.5);
  --primary06: rgba(var(--primary-rgb), 0.6);
  --primary07: rgba(var(--primary-rgb), 0.7);
  --primary08: rgba(var(--primary-rgb), 0.8);
  --primary09: rgba(var(--primary-rgb), 0.9);
  --primary005: rgba(var(--primary-rgb), 0.05);
  --default-font-family: "Plus Jakarta Sans", sans-serif;
  --default-font-weight: 400;
  --default-text-color: #010101;
  --default-border: #eeedf3;
  --default-background: #f9fafb;
  --menu-bg: #fff;
  --menu-prime-color: #61748f;
  --menu-border-color: #e2e5e7;
  --header-bg: #fff;
  --header-prime-color: #61748f;
  --header-border-color: #e2e5e7;
  --custom-white: #fff;
  --custom-black: #000;
  --bootstrap-card-border: #e2e5e7;
  --list-hover-focus-bg: #f5f6f7;
  --text-muted: #8d9eb5;
  --input-border: #e2e6f1;
  --form-control-bg: #ffffff;
  --bs-link-color-rgb: var(--default-text-color);
  /* Gray set */
  --gray-1: #f9fafb;
  --gray-2: #f2f4f5;
  --gray-3: #e6eaeb;
  --gray-4: #dbdfe1;
  --gray-5: #949eb7;
  --gray-6: #7987a1;
  --gray-7: #4d5875;
  --gray-8: #383853;
  --gray-9: #323251;
  /* White set */
  --white-1: rgba(255, 255, 255, 0.1);
  --white-2: rgba(255, 255, 255, 0.2);
  --white-3: rgba(255, 255, 255, 0.3);
  --white-4: rgba(255, 255, 255, 0.4);
  --white-5: rgba(255, 255, 255, 0.5);
  --white-6: rgba(255, 255, 255, 0.6);
  --white-7: rgba(255, 255, 255, 0.7);
  --white-8: rgba(255, 255, 255, 0.8);
  --white-9: rgba(255, 255, 255, 0.9);
  /* Black set */
  --black-1: rgba(0, 0, 0, 0.1);
  --black-2: rgba(0, 0, 0, 0.2);
  --black-3: rgba(0, 0, 0, 0.3);
  --black-4: rgba(0, 0, 0, 0.4);
  --black-5: rgba(0, 0, 0, 0.5);
  --black-6: rgba(0, 0, 0, 0.6);
  --black-7: rgba(0, 0, 0, 0.7);
  --black-8: rgba(0, 0, 0, 0.8);
  --black-9: rgba(0, 0, 0, 0.9);
}

/*Font Family*/
/*Font Size*/
/*Font Weight*/
/*Body & Text colors*/
/*Default Background Color*/
/*Border Color*/
/*Border Radius*/
/*Box Shadow*/
/* Header Variables */
/*Menu Variables*/
/*Color Variables*/
/* social icons colors */
/*gradient variables*/
/*gray set*/
/*white set*/
/*black set*/
/* dark mode */
[data-theme-mode=dark] {
  --body-bg-rgb: 25, 25, 28;
  --body-bg-rgb2: 45, 45, 48;
  --menu-bg: rgb(var(--body-bg-rgb));
  --menu-border-color: rgba(255, 255, 255, 0.1);
  --menu-prime-color: rgba(255,255,255,0.4);
  --header-bg: rgb(var(--body-bg-rgb));
  --header-prime-color: rgba(255,255,255,0.4);
  --header-border-color: rgba(255, 255, 255, 0.1);
  --custom-white: rgb(var(--body-bg-rgb));
  --custom-black: #fff;
  --default-border: rgba(255, 255, 255, 0.1);
  --default-text-color: rgba(255, 255, 255, 0.8);
  --light-rgb: 43, 46, 49;
  --dark-rgb: 240, 245, 248;
  --bootstrap-card-border: rgba(255, 255, 255, 0.1);
  --list-hover-focus-bg: rgba(255, 255, 255, 0.1);
  --default-background: rgb(var(--body-bg-rgb2));
  --default-body-bg-color: rgb(var(--body-bg-rgb2));
  --text-muted: rgba(255, 255, 255, 0.5);
  --input-border: rgba(255, 255, 255, 0.1);
  --form-control-bg: rgb(var(--body-bg-rgb));
  color-scheme: dark;
  /* Gray Set */
  --gray-1: #110f0f;
  --gray-2: #17171c;
  --gray-3: #393946;
  --gray-4: #505062;
  --gray-5: #73738c;
  --gray-6: #8f8fa3;
  --gray-7: #ababba;
  --gray-8: #c7c7d1;
  --gray-9: #e3e3e8;
  /* white set */
  --white-1: rgba(0, 0, 0, 0.1);
  --white-2: rgba(0, 0, 0, 0.2);
  --white-3: rgba(0, 0, 0, 0.3);
  --white-4: rgba(0, 0, 0, 0.4);
  --white-5: rgba(0, 0, 0, 0.5);
  --white-6: rgba(0, 0, 0, 0.6);
  --white-7: rgba(0, 0, 0, 0.7);
  --white-8: rgba(0, 0, 0, 0.8);
  --white-9: rgba(0, 0, 0, 0.9);
  /* black set */
  --black-1: rgba(255, 255, 255, 0.1);
  --black-2: rgba(255, 255, 255, 0.2);
  --black-3: rgba(255, 255, 255, 0.3);
  --black-4: rgba(255, 255, 255, 0.4);
  --black-5: rgba(255, 255, 255, 0.5);
  --black-6: rgba(255, 255, 255, 0.6);
  --black-7: rgba(255, 255, 255, 0.7);
  --black-8: rgba(255, 255, 255, 0.8);
  --black-9: rgba(255, 255, 255, 0.9);
}

/* Start:vuetify */
.v-theme--light,
.v-theme--dark,
:root {
  --v-theme-secondary: var(--secondary-rgb) !important;
  --v-theme-primary: var(--primary-rgb) !important;
  --v-theme-success: var(--success-rgb) !important;
  --v-theme-surface: var(--body-bg-rgb) !important;
  --v-theme-on-surface: var(--default-text-color) !important;
  --v-theme-warning: var(--warning-rgb) !important;
  --v-theme-info: var(--info-rgb) !important;
  --v-theme-on-info: 255, 255, 255 !important;
  --v-theme-error: var(--danger-rgb) !important;
}

.v-btn {
  text-transform: inherit !important;
}

.v-field__field {
  background-color: transparent !important;
}

.v-input--density-default .v-field--variant-solo,
.v-input--density-default .v-field--variant-solo-inverted,
.v-input--density-default .v-field--variant-solo-filled,
.v-input--density-default .v-field--variant-filled {
  --v-input-control-height: 56px !important;
  --v-input-padding-top: 0px;
}

.v-field--variant-filled .v-field__overlay {
  background-color: transparent !important;
}

.v-field--variant-filled .v-field__outline::before,
.v-field--variant-underlined .v-field__outline::before {
  border-color: var(--default-border) !important;
  border-width: var(--bs-border-width) !important;
  opacity: 1 !important;
  border-radius: 0.5rem;
}

.v-field--variant-filled .v-field__outline::after,
.v-field--variant-underlined .v-field__outline::after {
  border: none !important;
}

.v-table__wrapper td {
  text-wrap: nowrap;
}

.v-menu > .v-overlay__content > .v-card,
.v-menu > .v-overlay__content > .v-sheet,
.v-menu > .v-overlay__content > .v-list {
  background: var(--custom-white) !important;
}

.v-list-item--density-default:not(.v-list-item--nav).v-list-item--one-line {
  min-height: auto;
}

.main-header-container .main-header-dropdown .dropdown-item {
  padding: 0.65rem;
  border-block-end: 1px solid var(--default-border);
}

.previous-page__click-button .arrow,
.next-page__click-button .arrow {
  border-top: 2px solid var(--custom-black) !important;
  border-left: 2px solid var(--custom-black) !important;
}

.v-table {
  background: transparent !important;
}

.v-table > .v-table__wrapper > table {
  border: 1px solid var(--default-border) !important;
}

.v-table--fixed-header > .v-table__wrapper > table > thead {
  top: -1px !important;
}

.v-table .v-table__wrapper > table > tbody > tr:not(:last-child) > td,
.v-table .v-table__wrapper > table > tbody > tr:not(:last-child) > th,
.v-table .v-table__wrapper > table > thead > tr > th {
  border-bottom: 1px solid var(--default-border) !important;
}

.v-theme--light.bg-light .v-btn__content {
  color: rgb(var(--dark-rgb));
}

.v-theme--light.bg-dark .v-btn__content {
  color: var(--custom-white);
}

.v-overlay__content {
  max-width: 200px !important;
}

.v-list-item {
  padding: 16px;
}

.v-list-item--active {
  background: var(--primary-color) !important;
  color: var(--custom-white) !important;
}

[dir=rtl] .v-locale--is-ltr {
  direction: rtl;
}

/* End:vuetify */