/* Start:vuepic_vue-datepicker*/
.dp__theme_light,
.dp__theme_dark {
  --dp-background-color: var(--form-control-bg) !important;
  --dp-text-color: var(--default-text-color) !important;
  --dp-hover-color: var(--default-background) !important;
  --dp-hover-text-color: var(--default-text-color) !important;
  --dp-primary-color: var(--primary-color) !important;
  --dp-primary-disabled-color: var(--primary02) !important;
  --dp-primary-text-color: var(--default-text-color) !important;
  --dp-border-color: var(--input-border) !important;
  --dp-menu-border-color: var(--input-border) !important;
  --dp-border-color-hover: var(--input-border) !important;
  --dp-scroll-bar-background: var(--form-control-bg) !important;
  --dp-range-between-dates-text-color: var(--dp-hover-text-color, var(--default-text-color)) !important;
  --dp-range-between-border-color: var(--dp-hover-color, var(--default-text-color)) !important;
  --dp-time-inc-dec-button-size: 12px !important;
  --dp-hover-color: transparent !important;
}

.dp__pointer.dp__input_readonly {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: block;
  border: none !important;
}

.dp__input_wrap {
  border: 1px solid var(--default-border);
  border-radius: 0.5rem;
}

.dp__input_icon .input-group-text {
  border-start-end-radius: 0 !important;
  border-end-end-radius: 0 !important;
}

.dp__today,
.dp__action_select {
  color: #fff !important;
}

.dp--menu-wrapper {
  z-index: 99 !important;
}

.dp__pointer.dp__input_readonly {
  background-color: transparent;
}

.dp__today {
  background-color: var(--primary-color);
}

.dp__overlay.dp--overlay-relative {
  height: auto !important;
  max-height: 70px;
}

.dp__inc_dec_button {
  padding: 0 !important;
}

.dp--quarter-items .dp--qr-btn.dp--qr-btn-active {
  color: #fff;
}

.dp__overlay_col .dp__overlay_cell_active {
  color: #fff;
}

/* End:vuepic_vue-datepicker*/