[data-vertical-style=closed][data-toggled=close-menu-close] .app-sidebar {
  display: none;
}
@media (min-width: 992px) {
  [data-vertical-style=closed][data-toggled=close-menu-close] .app-content {
    margin-inline-start: 0;
  }
  [data-vertical-style=closed][data-toggled=close-menu-close] .app-header {
    padding-inline-start: 0;
  }
}
[data-vertical-style=closed][data-toggled=close-menu-open] .app-sidebar {
  display: block;
}
@media (min-width: 992px) {
  [data-vertical-style=closed][data-toggled=close-menu-open] .app-content {
    margin-inline-start: 15rem;
  }
  [data-vertical-style=closed][data-toggled=close-menu-open] .app-header {
    padding-inline-start: 15rem;
  }
}