@reference "../base.css";

@layer components {
  @variant vertical-detached {
    &[data-width="default"] {
      .page {
        @apply 3xl:w-19/20 3xl:my-0 3xl:mx-auto 3xl:ps-41;
      }
      .main-content {
        @apply 3xl:py-0 3xl:ltr:pr-40 3xl:ltr:pl-3;
        @apply 3xl:rtl:pr-3 3xl:rtl:pl-40;
      }
    }

    .page {
      @apply lg:w-19/20 lg:my-0 lg:mx-auto lg:ps-5;
    }

    .app-sidebar {
      @apply lg:inset-be-6 lg:rounded-lg lg:border lg:border-bs3-menu;
      @apply lg:h-9/10 before:lg:rounded-sm;
      inset-block-start: calc(64px + 1.25rem);
      inset-inline-start: inherit;

      .main-sidebar-header {
        @apply lg:hidden;
      }

      .side-menu__item {
        @apply lg:py-[0.65rem] lg:px-7;
      }
    }

    .app-header {
      @apply lg:ps-0;

      .main-header-container {
        @apply lg:w-94/100;
      }

      .sidemenu-toggle.header-link.animated-arrow.hor-toggle.horizontal-navtoggle {
        @apply lg:ms-5;
      }

      .horizontal-logo {
        @apply lg:py-4 lg:px-0 lg:block;

        img {
          @apply lg:h-6 lg:leading-6;
        }

        .desktop-logo {
          @apply lg:block;
        }

        .desktop-dark,
        .toggle-logo,
        .toggle-dark {
          @apply lg:hidden;
        }
      }
    }

    .main-sidebar {
      @apply lg:h-full lg:mbs-0 lg:shadow-none;
    }

    .app-content {
      @apply lg:relative lg:ms-60;
    }

    .footer {
      @apply lg:bg-transparent lg:border-t-0 lg:shadow-none;
    }

    .horizontal-logo {
      .header-logo {
        .desktop-logo,
        .toggle-logo,
        .toggle-dark {
          @apply lg:light:header-dark:hidden;
          @apply lg:light:header-color:hidden;
          @apply lg:light:header-gradient:hidden;
          @apply lg:dark:hidden;
        }

        .desktop-dark {
          @apply lg:light:header-dark:block;
          @apply lg:light:header-color:block;
          @apply lg:light:header-gradient:block;
          @apply lg:dark:block;
        }

        .desktop-dark,
        .toggle-logo,
        .toggle-dark {
          @apply lg:dark:header-light:hidden;
        }

        .desktop-logo {
          @apply lg:dark:header-light:block;
        }
      }
    }

    &[data-menu-styles="dark"] {
      &[data-bg-img="bgimg3"],
      &[data-bg-img="bgimg1"],
      &[data-bg-img="bgimg2"],
      &[data-bg-img="bgimg4"],
      &[data-bg-img="bgimg5"] {
        .app-sidebar {
          @apply lg:before:rounded-sm;
        }
      }
    }

    @variant toggled-detachedclosed {
      &:not([data-icon-overlay="open"]) {
        .app-sidebar {
          @apply lg:w-20;

          .side-menu__label,
          .side-menu__angle,
          .category-name,
          .slide-menu,
          .side-menu__item .badge {
            @apply lg:hidden!;
          }

          .side-menu__item {
            @apply lg:justify-center;

            .side-menu__icon {
              @apply lg:me-0;
            }
          }

          .slide__category {
            @apply lg:py-[1.2rem] lg:px-[1.65rem] lg:relative;
            @apply lg:before:absolute lg:before:text-bs3-menu-prime;
            @apply lg:before:opacity-100 lg:before:inset-e-0 lg:before:inset-s-[35px];
            @apply lg:before:inset-be-0 lg:before:inset-bs-5;

            &:before {
              content: "\f3c2";
              font-family: remixicon !important;
              font-size: 8px;
            }
          }
        }
      }

      .app-content {
        @apply lg:relative lg:ms-20;
      }

      &[data-icon-overlay="open"] {
        .app-sidebar {
          @apply lg:w-60;

          .main-sidebar-header {
            @apply lg:w-60;

            .header-logo {
              .desktop-logo {
                @apply lg:block!;
              }

              .desktop-dark,
              .toggle-logo,
              .toggle-dark {
                @apply lg:hidden!;
              }
            }
          }

          .side-menu__item {
            @apply lg:justify-start;
          }

          .side-menu__icon {
            @apply lg:me-2.5;
          }

          .slide__category {
            @apply lg:py-3 lg:px-[1.65rem] lg:before:hidden;
          }
        }
      }
    }

    @variant page-classic {
      .app-sidebar {
        @apply lg:border lg:border-bs3-menu;
      }
    }
  }
}
