@media (min-width: 1600px) {
  [data-vertical-style=detached][data-width=default] .page {
    width: 95%;
    margin: 0 auto;
    padding-inline-start: 10.25rem;
  }
  [data-vertical-style=detached][data-width=default] .main-content {
    padding: 0 10rem 0 0.75rem;
  }
  [data-vertical-style=detached][data-width=default][dir=rtl] .main-content {
    padding: 0 0.75rem 0 10rem;
  }
}
@media (min-width: 992px) {
  [data-vertical-style=detached] .page {
    width: 95%;
    margin: 0 auto;
    padding-inline-start: 1.25rem;
  }
  [data-vertical-style=detached] .app-sidebar {
    inset-block-start: calc(64px + 1.25rem);
    inset-block-end: 1.5rem;
    inset-inline-start: inherit;
    border-radius: 0.5rem;
    border: 1px solid var(--menu-border-color);
    height: 90% !important;
  }
  [data-vertical-style=detached] .app-sidebar:before {
    border-radius: 0.25rem;
  }
  [data-vertical-style=detached] .app-sidebar .main-sidebar-header {
    display: none;
  }
  [data-vertical-style=detached] .app-header .sidemenu-toggle.header-link.animated-arrow.hor-toggle.horizontal-navtoggle {
    margin-inline-start: 1.25rem;
  }
  [data-vertical-style=detached] .app-sidebar .side-menu__item {
    padding: 0.65rem 1.75rem !important;
  }
  [data-vertical-style=detached] .main-sidebar {
    height: 100%;
    margin-block-start: 0;
    box-shadow: none !important;
  }
  [data-vertical-style=detached] .app-content {
    margin-inline-start: 15rem;
    position: relative;
  }
  [data-vertical-style=detached][data-page-style=classic] .app-sidebar {
    border: 1px solid var(--menu-border-color);
  }
  [data-vertical-style=detached][data-theme-mode=light][data-header-styles=dark] .horizontal-logo .header-logo .desktop-logo,
  [data-vertical-style=detached][data-theme-mode=light][data-header-styles=dark] .horizontal-logo .header-logo .toggle-logo,
  [data-vertical-style=detached][data-theme-mode=light][data-header-styles=dark] .horizontal-logo .header-logo .toggle-dark {
    display: none;
  }
  [data-vertical-style=detached][data-theme-mode=light][data-header-styles=dark] .horizontal-logo .header-logo .desktop-dark {
    display: block;
  }
  [data-vertical-style=detached][data-theme-mode=light][data-header-styles=color] .horizontal-logo .header-logo .desktop-logo,
  [data-vertical-style=detached][data-theme-mode=light][data-header-styles=color] .horizontal-logo .header-logo .toggle-logo,
  [data-vertical-style=detached][data-theme-mode=light][data-header-styles=color] .horizontal-logo .header-logo .toggle-dark, [data-vertical-style=detached][data-theme-mode=light][data-header-styles=gradient] .horizontal-logo .header-logo .desktop-logo,
  [data-vertical-style=detached][data-theme-mode=light][data-header-styles=gradient] .horizontal-logo .header-logo .toggle-logo,
  [data-vertical-style=detached][data-theme-mode=light][data-header-styles=gradient] .horizontal-logo .header-logo .toggle-dark {
    display: none;
  }
  [data-vertical-style=detached][data-theme-mode=light][data-header-styles=color] .horizontal-logo .header-logo .desktop-dark, [data-vertical-style=detached][data-theme-mode=light][data-header-styles=gradient] .horizontal-logo .header-logo .desktop-dark {
    display: block;
  }
  [data-vertical-style=detached][data-theme-mode=dark] .horizontal-logo .header-logo .desktop-logo,
  [data-vertical-style=detached][data-theme-mode=dark] .horizontal-logo .header-logo .toggle-logo,
  [data-vertical-style=detached][data-theme-mode=dark] .horizontal-logo .header-logo .toggle-dark {
    display: none;
  }
  [data-vertical-style=detached][data-theme-mode=dark] .horizontal-logo .header-logo .desktop-dark {
    display: block;
  }
  [data-vertical-style=detached][data-theme-mode=dark][data-header-styles=light] .horizontal-logo .header-logo .desktop-dark,
  [data-vertical-style=detached][data-theme-mode=dark][data-header-styles=light] .horizontal-logo .header-logo .toggle-logo,
  [data-vertical-style=detached][data-theme-mode=dark][data-header-styles=light] .horizontal-logo .header-logo .toggle-dark {
    display: none;
  }
  [data-vertical-style=detached][data-theme-mode=dark][data-header-styles=light] .horizontal-logo .header-logo .desktop-logo {
    display: block;
  }
  [data-vertical-style=detached][data-toggled=detached-close]:not([data-icon-overlay=open]) .app-sidebar {
    width: 5rem;
  }
  [data-vertical-style=detached][data-toggled=detached-close]:not([data-icon-overlay=open]) .app-sidebar .side-menu__label,
  [data-vertical-style=detached][data-toggled=detached-close]:not([data-icon-overlay=open]) .app-sidebar .side-menu__angle,
  [data-vertical-style=detached][data-toggled=detached-close]:not([data-icon-overlay=open]) .app-sidebar .category-name,
  [data-vertical-style=detached][data-toggled=detached-close]:not([data-icon-overlay=open]) .app-sidebar .slide-menu,
  [data-vertical-style=detached][data-toggled=detached-close]:not([data-icon-overlay=open]) .app-sidebar .side-menu__item .badge {
    display: none !important;
  }
  [data-vertical-style=detached][data-toggled=detached-close]:not([data-icon-overlay=open]) .app-sidebar .side-menu__item {
    justify-content: center;
  }
  [data-vertical-style=detached][data-toggled=detached-close]:not([data-icon-overlay=open]) .app-sidebar .side-menu__item .side-menu__icon {
    margin-inline-end: 0;
  }
  [data-vertical-style=detached][data-toggled=detached-close]:not([data-icon-overlay=open]) .app-sidebar .slide__category {
    padding: 1.2rem 1.65rem;
    position: relative;
  }
  [data-vertical-style=detached][data-toggled=detached-close]:not([data-icon-overlay=open]) .app-sidebar .slide__category:before {
    content: "\f3c2";
    font-family: remixicon !important;
    position: absolute;
    font-size: 8px;
    inset-inline-start: 35px;
    inset-inline-end: 0;
    inset-block-start: 1.25rem;
    inset-block-end: 0;
    opacity: 1;
    color: var(--menu-prime-color);
  }
  [data-vertical-style=detached][data-toggled=detached-close] .app-content {
    margin-inline-start: 5rem;
    position: relative;
  }
  [data-vertical-style=detached][data-toggled=detached-close][data-icon-overlay=open] .app-sidebar {
    width: 15rem;
  }
  [data-vertical-style=detached][data-toggled=detached-close][data-icon-overlay=open] .app-sidebar .main-sidebar-header {
    width: 15rem;
  }
  [data-vertical-style=detached][data-toggled=detached-close][data-icon-overlay=open] .app-sidebar .main-sidebar-header .header-logo .desktop-logo {
    display: block !important;
  }
  [data-vertical-style=detached][data-toggled=detached-close][data-icon-overlay=open] .app-sidebar .main-sidebar-header .header-logo .desktop-dark,
  [data-vertical-style=detached][data-toggled=detached-close][data-icon-overlay=open] .app-sidebar .main-sidebar-header .header-logo .toggle-logo,
  [data-vertical-style=detached][data-toggled=detached-close][data-icon-overlay=open] .app-sidebar .main-sidebar-header .header-logo .toggle-dark {
    display: none !important;
  }
  [data-vertical-style=detached][data-toggled=detached-close][data-icon-overlay=open] .app-sidebar .side-menu__item {
    justify-content: flex-start;
  }
  [data-vertical-style=detached][data-toggled=detached-close][data-icon-overlay=open] .app-sidebar .side-menu__icon {
    margin-inline-end: 0.625rem;
  }
  [data-vertical-style=detached][data-toggled=detached-close][data-icon-overlay=open] .app-sidebar .slide__category {
    padding: 0.75rem 1.65rem;
  }
  [data-vertical-style=detached][data-toggled=detached-close][data-icon-overlay=open] .app-sidebar .slide__category:before {
    display: none;
  }
  [data-vertical-style=detached] .app-header {
    padding-inline-start: 0;
  }
  [data-vertical-style=detached] .app-header .main-header-container {
    width: 94%;
  }
  [data-vertical-style=detached] .app-header .horizontal-logo {
    padding: 1rem 0;
    display: block;
  }
  [data-vertical-style=detached] .app-header .horizontal-logo img {
    height: 1.5rem;
    line-height: 1.5rem;
  }
  [data-vertical-style=detached] .app-header .horizontal-logo .desktop-logo {
    display: block;
  }
  [data-vertical-style=detached] .app-header .horizontal-logo .desktop-dark,
  [data-vertical-style=detached] .app-header .horizontal-logo .toggle-logo,
  [data-vertical-style=detached] .app-header .horizontal-logo .toggle-dark {
    display: none;
  }
  [data-vertical-style=detached] .footer {
    box-shadow: none;
    background-color: transparent !important;
    border-top: 0;
  }
  [data-vertical-style=detached][data-menu-styles=dark][data-bg-img=bgimg3] .app-sidebar:before, [data-vertical-style=detached][data-menu-styles=dark][data-bg-img=bgimg1] .app-sidebar:before, [data-vertical-style=detached][data-menu-styles=dark][data-bg-img=bgimg2] .app-sidebar:before, [data-vertical-style=detached][data-menu-styles=dark][data-bg-img=bgimg4] .app-sidebar:before, [data-vertical-style=detached][data-menu-styles=dark][data-bg-img=bgimg5] .app-sidebar:before {
    border-radius: 0.25rem;
  }
}