@media (min-width: 992px) {
  [data-vertical-style=doublemenu] .slide-menu.double-menu-active {
    display: block !important;
  }
  [data-vertical-style=doublemenu] .app-sidebar .side-menu__item {
    padding: 0.65rem 1.75rem;
  }
  [data-vertical-style=doublemenu] .app-sidebar {
    width: 5rem;
  }
  [data-vertical-style=doublemenu] .app-sidebar .main-sidebar {
    overflow: visible !important;
    height: 100%;
    box-shadow: none;
    margin-block-start: 0;
  }
  [data-vertical-style=doublemenu] .app-sidebar .slide-menu.child1 {
    padding-block-end: 3rem;
  }
  [data-vertical-style=doublemenu] .app-sidebar .main-sidebar-header {
    width: 5rem;
    backdrop-filter: blur(30px);
    justify-content: center;
  }
  [data-vertical-style=doublemenu] .app-sidebar .main-sidebar-header .header-logo .toggle-logo {
    display: block !important;
  }
  [data-vertical-style=doublemenu] .app-sidebar .main-sidebar-header .header-logo .desktop-dark,
  [data-vertical-style=doublemenu] .app-sidebar .main-sidebar-header .header-logo .desktop-logo,
  [data-vertical-style=doublemenu] .app-sidebar .main-sidebar-header .header-logo .toggle-dark {
    display: none !important;
  }
  [data-vertical-style=doublemenu] .app-sidebar .main-menu-container {
    margin-block-start: 3.75rem;
  }
  [data-vertical-style=doublemenu] .app-sidebar .main-menu > .slide {
    padding: 0;
    padding-inline-end: 0.6rem;
  }
  [data-vertical-style=doublemenu] .app-sidebar .category-name,
  [data-vertical-style=doublemenu] .app-sidebar .side-menu__label,
  [data-vertical-style=doublemenu] .app-sidebar .side-menu__angle {
    display: none;
  }
  [data-vertical-style=doublemenu] .app-sidebar .side-menu__icon {
    margin-inline-end: 0;
    color: var(--menu-prime-color);
    fill: var(--menu-prime-color);
  }
  [data-vertical-style=doublemenu] .app-sidebar .side-menu__item:hover .side-menu__icon, [data-vertical-style=doublemenu] .app-sidebar .side-menu__item.active .side-menu__icon {
    color: var(--primary-color);
    fill: var(--primary-color);
  }
  [data-vertical-style=doublemenu] .app-sidebar .slide__category {
    display: none;
  }
  [data-vertical-style=doublemenu] .app-sidebar .simplebar-content-wrapper {
    position: initial;
  }
  [data-vertical-style=doublemenu] .app-sidebar .simplebar-mask {
    position: inherit;
  }
  [data-vertical-style=doublemenu] .app-sidebar .simplebar-placeholder {
    height: auto !important;
  }
  [data-vertical-style=doublemenu] .app-header {
    padding-inline-start: 17rem;
  }
  [data-vertical-style=doublemenu] .app-content {
    margin-inline-start: 17rem;
  }
  [data-vertical-style=doublemenu] .slide.has-sub .slide-menu {
    position: absolute !important;
    inset-inline-start: 5rem !important;
    background: var(--menu-bg);
    box-shadow: none;
    transition: none !important;
    height: 100% !important;
    inset-inline-end: 0;
    border-inline-end: 1px solid var(--menu-border-color);
  }
  [data-vertical-style=doublemenu] .slide.has-sub .slide-menu.child2, [data-vertical-style=doublemenu] .slide.has-sub .slide-menu.child3 {
    inset-inline-start: 0 !important;
    position: relative !important;
    height: auto !important;
    inset-block-start: 0 !important;
    border-inline-end: 0;
  }
  [data-vertical-style=doublemenu] .slide.has-sub .slide-menu.child2 .slide:nth-child(2), [data-vertical-style=doublemenu] .slide.has-sub .slide-menu.child3 .slide:nth-child(2) {
    padding-block-start: 0rem;
  }
  [data-vertical-style=doublemenu] .slide-menu.child1 .slide, [data-vertical-style=doublemenu] .slide-menu.child2 .slide, [data-vertical-style=doublemenu] .slide-menu.child3 .slide {
    padding-inline-start: 0;
  }
  [data-vertical-style=doublemenu] .slide-menu.child1 .slide .side-menu__item, [data-vertical-style=doublemenu] .slide-menu.child2 .slide .side-menu__item, [data-vertical-style=doublemenu] .slide-menu.child3 .slide .side-menu__item {
    text-align: start;
  }
  [data-vertical-style=doublemenu] .slide-menu.child1 .slide .side-menu__item:before, [data-vertical-style=doublemenu] .slide-menu.child2 .slide .side-menu__item:before, [data-vertical-style=doublemenu] .slide-menu.child3 .slide .side-menu__item:before {
    display: none;
  }
  [data-vertical-style=doublemenu] .slide-menu.child1 .side-menu__angle, [data-vertical-style=doublemenu] .slide-menu.child2 .side-menu__angle, [data-vertical-style=doublemenu] .slide-menu.child3 .side-menu__angle {
    display: block;
    inset-inline-end: 1rem;
    inset-block-start: 0.65rem;
  }
  [data-vertical-style=doublemenu] .slide-menu.child2, [data-vertical-style=doublemenu] .slide-menu.child3 {
    min-width: 10rem;
  }
  [data-vertical-style=doublemenu] .slide-menu.child1 {
    min-width: 12rem;
  }
  [data-vertical-style=doublemenu] .slide-menu.child1 .slide:nth-child(2) {
    padding-block-start: 0.75rem;
  }
  [data-vertical-style=doublemenu] .side-menu__label1 {
    display: block !important;
    font-size: 0.938rem;
    font-weight: 500;
    color: var(--menu-prime-color);
    border-block-end: 1px solid var(--menu-border-color);
    padding: 1.5rem 1rem !important;
    width: 12rem;
    height: 4.25rem;
  }
  [data-vertical-style=doublemenu] .slide-menu {
    display: none;
  }
  [data-vertical-style=doublemenu] .slide-menu.double-menu-active {
    visibility: visible !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    border-radius: 0 !important;
    border-block-start: 0;
    overflow: hidden scroll;
  }
  [data-vertical-style=doublemenu][data-theme-mode=light][data-menu-styles=dark] .app-sidebar .main-sidebar-header .header-logo .desktop-logo, [data-vertical-style=doublemenu][data-theme-mode=light][data-menu-styles=dark] .app-sidebar .main-sidebar-header .header-logo .desktop-dark, [data-vertical-style=doublemenu][data-theme-mode=light][data-menu-styles=dark] .app-sidebar .main-sidebar-header .header-logo .toggle-logo {
    display: none !important;
  }
  [data-vertical-style=doublemenu][data-theme-mode=light][data-menu-styles=dark] .app-sidebar .main-sidebar-header .header-logo .toggle-dark {
    display: block !important;
  }
  [data-vertical-style=doublemenu][data-theme-mode=light][data-menu-styles=color] .app-sidebar .main-sidebar-header .header-logo .desktop-logo, [data-vertical-style=doublemenu][data-theme-mode=light][data-menu-styles=color] .app-sidebar .main-sidebar-header .header-logo .desktop-dark, [data-vertical-style=doublemenu][data-theme-mode=light][data-menu-styles=color] .app-sidebar .main-sidebar-header .header-logo .toggle-logo, [data-vertical-style=doublemenu][data-theme-mode=light][data-menu-styles=gradient] .app-sidebar .main-sidebar-header .header-logo .desktop-logo, [data-vertical-style=doublemenu][data-theme-mode=light][data-menu-styles=gradient] .app-sidebar .main-sidebar-header .header-logo .desktop-dark, [data-vertical-style=doublemenu][data-theme-mode=light][data-menu-styles=gradient] .app-sidebar .main-sidebar-header .header-logo .toggle-logo {
    display: none !important;
  }
  [data-vertical-style=doublemenu][data-theme-mode=light][data-menu-styles=color] .app-sidebar .main-sidebar-header .header-logo .toggle-dark, [data-vertical-style=doublemenu][data-theme-mode=light][data-menu-styles=gradient] .app-sidebar .main-sidebar-header .header-logo .toggle-dark {
    display: block !important;
  }
  [data-vertical-style=doublemenu][data-theme-mode=dark] .app-sidebar .main-sidebar-header .header-logo .desktop-logo, [data-vertical-style=doublemenu][data-theme-mode=dark] .app-sidebar .main-sidebar-header .header-logo .desktop-dark, [data-vertical-style=doublemenu][data-theme-mode=dark] .app-sidebar .main-sidebar-header .header-logo .toggle-logo {
    display: none !important;
  }
  [data-vertical-style=doublemenu][data-theme-mode=dark] .app-sidebar .main-sidebar-header .header-logo .toggle-dark {
    display: block !important;
  }
  [data-vertical-style=doublemenu][data-theme-mode=dark][data-menu-styles=light] .app-sidebar .main-sidebar-header .header-logo .desktop-logo, [data-vertical-style=doublemenu][data-theme-mode=dark][data-menu-styles=light] .app-sidebar .main-sidebar-header .header-logo .desktop-dark, [data-vertical-style=doublemenu][data-theme-mode=dark][data-menu-styles=light] .app-sidebar .main-sidebar-header .header-logo .toggle-dark {
    display: none !important;
  }
  [data-vertical-style=doublemenu][data-theme-mode=dark][data-menu-styles=light] .app-sidebar .main-sidebar-header .header-logo .toggle-logo {
    display: block !important;
  }
  [data-vertical-style=doublemenu][data-theme-mode=dark][data-page-style=classic] .slide.has-sub .slide-menu {
    border-inline-end: 1px solid var(--default-border);
  }
  [data-vertical-style=doublemenu][data-toggled=double-menu-close] .app-header {
    padding-inline-start: 5rem;
  }
  [data-vertical-style=doublemenu][data-toggled=double-menu-close] .app-content {
    margin-inline-start: 5rem;
  }
  [data-vertical-style=doublemenu][data-toggled=double-menu-close] .app-sidebar .slide.has-sub .slide-menu {
    display: none !important;
  }
  [data-vertical-style=doublemenu][data-toggled=double-menu-close] .app-sidebar .main-sidebar {
    box-shadow: 0px 0.125rem 0.25rem rgba(0, 0, 0, 0.05);
  }
  [data-vertical-style=doublemenu][data-toggled=double-menu-open] .app-sidebar .main-sidebar .slide.side-menu__label1 {
    border-inline-end: 1px solid var(--default-border);
  }
}

@media (max-width: 991.98px) {
  .app-sidebar .main-menu .slide .custome-tooltip {
    display: none !important;
  }
}
[data-vertical-style=doublemenu][data-menu-styles=light] .app-sidebar .side-menu__item.active .side-menu__icon {
  fill: #fff !important;
  color: #fff !important;
}