@media (min-width: 992px) {
  .icon-hover .app-sidebar, [data-nav-layout=horizontal][data-nav-style=icon-hover] .app-sidebar,
  [data-nav-style=icon-hover][data-toggled=icon-hover-closed] .app-sidebar {
    width: 5rem;
  }
  .icon-hover .app-sidebar .main-sidebar, [data-nav-layout=horizontal][data-nav-style=icon-hover] .app-sidebar .main-sidebar,
  [data-nav-style=icon-hover][data-toggled=icon-hover-closed] .app-sidebar .main-sidebar {
    overflow: visible !important;
    height: 90%;
  }
  .icon-hover .app-sidebar .main-sidebar-header, [data-nav-layout=horizontal][data-nav-style=icon-hover] .app-sidebar .main-sidebar-header,
  [data-nav-style=icon-hover][data-toggled=icon-hover-closed] .app-sidebar .main-sidebar-header {
    width: 5rem;
    justify-content: center;
  }
  .icon-hover .app-sidebar .main-sidebar-header .header-logo .toggle-dark, [data-nav-layout=horizontal][data-nav-style=icon-hover] .app-sidebar .main-sidebar-header .header-logo .toggle-dark,
  [data-nav-style=icon-hover][data-toggled=icon-hover-closed] .app-sidebar .main-sidebar-header .header-logo .toggle-dark {
    display: block;
  }
  .icon-hover .app-sidebar .main-sidebar-header .header-logo .desktop-dark, [data-nav-layout=horizontal][data-nav-style=icon-hover] .app-sidebar .main-sidebar-header .header-logo .desktop-dark,
  [data-nav-style=icon-hover][data-toggled=icon-hover-closed] .app-sidebar .main-sidebar-header .header-logo .desktop-dark,
  .icon-hover .app-sidebar .main-sidebar-header .header-logo .desktop-logo,
  [data-nav-layout=horizontal][data-nav-style=icon-hover] .app-sidebar .main-sidebar-header .header-logo .desktop-logo,
  [data-nav-style=icon-hover][data-toggled=icon-hover-closed] .app-sidebar .main-sidebar-header .header-logo .desktop-logo,
  .icon-hover .app-sidebar .main-sidebar-header .header-logo .toggle-logo,
  [data-nav-layout=horizontal][data-nav-style=icon-hover] .app-sidebar .main-sidebar-header .header-logo .toggle-logo,
  [data-nav-style=icon-hover][data-toggled=icon-hover-closed] .app-sidebar .main-sidebar-header .header-logo .toggle-logo {
    display: none;
  }
  .icon-hover .app-sidebar .category-name, [data-nav-layout=horizontal][data-nav-style=icon-hover] .app-sidebar .category-name,
  [data-nav-style=icon-hover][data-toggled=icon-hover-closed] .app-sidebar .category-name,
  .icon-hover .app-sidebar .side-menu__label,
  [data-nav-layout=horizontal][data-nav-style=icon-hover] .app-sidebar .side-menu__label,
  [data-nav-style=icon-hover][data-toggled=icon-hover-closed] .app-sidebar .side-menu__label,
  .icon-hover .app-sidebar .side-menu__angle,
  [data-nav-layout=horizontal][data-nav-style=icon-hover] .app-sidebar .side-menu__angle,
  [data-nav-style=icon-hover][data-toggled=icon-hover-closed] .app-sidebar .side-menu__angle {
    display: none;
  }
  .icon-hover .app-sidebar .side-menu__icon, [data-nav-layout=horizontal][data-nav-style=icon-hover] .app-sidebar .side-menu__icon,
  [data-nav-style=icon-hover][data-toggled=icon-hover-closed] .app-sidebar .side-menu__icon {
    margin-inline-end: 0;
  }
  .icon-hover .app-sidebar .slide__category, [data-nav-layout=horizontal][data-nav-style=icon-hover] .app-sidebar .slide__category,
  [data-nav-style=icon-hover][data-toggled=icon-hover-closed] .app-sidebar .slide__category {
    padding: 1.2rem 1.65rem;
    position: relative;
  }
  .icon-hover .app-sidebar .slide__category:before, [data-nav-layout=horizontal][data-nav-style=icon-hover] .app-sidebar .slide__category:before,
  [data-nav-style=icon-hover][data-toggled=icon-hover-closed] .app-sidebar .slide__category:before {
    content: "";
    position: absolute;
    inset-inline-start: 30px;
    inset-inline-end: 0;
    inset-block-start: 1.25rem;
    inset-block-end: 0;
    width: 0.35rem;
    border-radius: 3.125rem;
    height: 0.35rem;
    border: 1px solid var(--menu-prime-color);
    opacity: 1;
  }
  .icon-hover .app-sidebar .simplebar-content-wrapper, [data-nav-layout=horizontal][data-nav-style=icon-hover] .app-sidebar .simplebar-content-wrapper,
  [data-nav-style=icon-hover][data-toggled=icon-hover-closed] .app-sidebar .simplebar-content-wrapper {
    position: initial;
  }
  .icon-hover .app-sidebar .simplebar-mask, [data-nav-layout=horizontal][data-nav-style=icon-hover] .app-sidebar .simplebar-mask,
  [data-nav-style=icon-hover][data-toggled=icon-hover-closed] .app-sidebar .simplebar-mask {
    position: inherit;
  }
  .icon-hover .app-sidebar .simplebar-placeholder, [data-nav-layout=horizontal][data-nav-style=icon-hover] .app-sidebar .simplebar-placeholder,
  [data-nav-style=icon-hover][data-toggled=icon-hover-closed] .app-sidebar .simplebar-placeholder {
    height: auto !important;
  }
  .icon-hover .app-header, [data-nav-layout=horizontal][data-nav-style=icon-hover] .app-header,
  [data-nav-style=icon-hover][data-toggled=icon-hover-closed] .app-header {
    padding-inline-start: 5rem;
  }
  .icon-hover .app-content, [data-nav-layout=horizontal][data-nav-style=icon-hover] .app-content,
  [data-nav-style=icon-hover][data-toggled=icon-hover-closed] .app-content {
    margin-inline-start: 5rem;
  }
  .icon-hover .slide.side-menu__label1, [data-nav-layout=horizontal][data-nav-style=icon-hover] .slide.side-menu__label1,
  [data-nav-style=icon-hover][data-toggled=icon-hover-closed] .slide.side-menu__label1 {
    display: block;
    padding: 0.5rem 1rem !important;
    border-block-end: 1px solid var(--default-border);
  }
  .icon-hover .slide.has-sub .slide-menu, [data-nav-layout=horizontal][data-nav-style=icon-hover] .slide.has-sub .slide-menu,
  [data-nav-style=icon-hover][data-toggled=icon-hover-closed] .slide.has-sub .slide-menu {
    position: absolute !important;
    inset-inline-start: 5rem !important;
    background: var(--menu-bg);
    inset-block-start: auto !important;
    box-shadow: 0 0 0.375rem var(--black-1);
    transition: none !important;
  }
  .icon-hover .slide.has-sub .slide-menu.child2, [data-nav-layout=horizontal][data-nav-style=icon-hover] .slide.has-sub .slide-menu.child2,
  [data-nav-style=icon-hover][data-toggled=icon-hover-closed] .slide.has-sub .slide-menu.child2, .icon-hover .slide.has-sub .slide-menu.child3, [data-nav-layout=horizontal][data-nav-style=icon-hover] .slide.has-sub .slide-menu.child3,
  [data-nav-style=icon-hover][data-toggled=icon-hover-closed] .slide.has-sub .slide-menu.child3 {
    inset-inline-start: 11.81rem !important;
  }
  .icon-hover .slide-menu.child1, [data-nav-layout=horizontal][data-nav-style=icon-hover] .slide-menu.child1,
  [data-nav-style=icon-hover][data-toggled=icon-hover-closed] .slide-menu.child1, .icon-hover .slide-menu.child2, [data-nav-layout=horizontal][data-nav-style=icon-hover] .slide-menu.child2,
  [data-nav-style=icon-hover][data-toggled=icon-hover-closed] .slide-menu.child2, .icon-hover .slide-menu.child3, [data-nav-layout=horizontal][data-nav-style=icon-hover] .slide-menu.child3,
  [data-nav-style=icon-hover][data-toggled=icon-hover-closed] .slide-menu.child3 {
    min-width: 12rem;
  }
  .icon-hover .slide-menu.child1 .slide .side-menu__item, [data-nav-layout=horizontal][data-nav-style=icon-hover] .slide-menu.child1 .slide .side-menu__item,
  [data-nav-style=icon-hover][data-toggled=icon-hover-closed] .slide-menu.child1 .slide .side-menu__item, .icon-hover .slide-menu.child2 .slide .side-menu__item, [data-nav-layout=horizontal][data-nav-style=icon-hover] .slide-menu.child2 .slide .side-menu__item,
  [data-nav-style=icon-hover][data-toggled=icon-hover-closed] .slide-menu.child2 .slide .side-menu__item, .icon-hover .slide-menu.child3 .slide .side-menu__item, [data-nav-layout=horizontal][data-nav-style=icon-hover] .slide-menu.child3 .slide .side-menu__item,
  [data-nav-style=icon-hover][data-toggled=icon-hover-closed] .slide-menu.child3 .slide .side-menu__item {
    text-align: start;
    padding: 0.45rem 1rem;
  }
  .icon-hover .slide-menu.child1 .slide .side-menu__item:before, [data-nav-layout=horizontal][data-nav-style=icon-hover] .slide-menu.child1 .slide .side-menu__item:before,
  [data-nav-style=icon-hover][data-toggled=icon-hover-closed] .slide-menu.child1 .slide .side-menu__item:before, .icon-hover .slide-menu.child2 .slide .side-menu__item:before, [data-nav-layout=horizontal][data-nav-style=icon-hover] .slide-menu.child2 .slide .side-menu__item:before,
  [data-nav-style=icon-hover][data-toggled=icon-hover-closed] .slide-menu.child2 .slide .side-menu__item:before, .icon-hover .slide-menu.child3 .slide .side-menu__item:before, [data-nav-layout=horizontal][data-nav-style=icon-hover] .slide-menu.child3 .slide .side-menu__item:before,
  [data-nav-style=icon-hover][data-toggled=icon-hover-closed] .slide-menu.child3 .slide .side-menu__item:before {
    display: none;
  }
  .icon-hover .slide-menu.child1 .side-menu__angle, [data-nav-layout=horizontal][data-nav-style=icon-hover] .slide-menu.child1 .side-menu__angle,
  [data-nav-style=icon-hover][data-toggled=icon-hover-closed] .slide-menu.child1 .side-menu__angle, .icon-hover .slide-menu.child2 .side-menu__angle, [data-nav-layout=horizontal][data-nav-style=icon-hover] .slide-menu.child2 .side-menu__angle,
  [data-nav-style=icon-hover][data-toggled=icon-hover-closed] .slide-menu.child2 .side-menu__angle, .icon-hover .slide-menu.child3 .side-menu__angle, [data-nav-layout=horizontal][data-nav-style=icon-hover] .slide-menu.child3 .side-menu__angle,
  [data-nav-style=icon-hover][data-toggled=icon-hover-closed] .slide-menu.child3 .side-menu__angle {
    display: block;
    inset-inline-end: 0.5rem;
    inset-block-start: 0.65rem;
  }
  .icon-hover .slide.has-sub:hover .slide-menu.child1, [data-nav-layout=horizontal][data-nav-style=icon-hover] .slide.has-sub:hover .slide-menu.child1,
  [data-nav-style=icon-hover][data-toggled=icon-hover-closed] .slide.has-sub:hover .slide-menu.child1 {
    display: block !important;
  }
  .icon-hover .slide.has-sub:hover .slide-menu.child1 .slide.has-sub:hover .slide-menu.child2, [data-nav-layout=horizontal][data-nav-style=icon-hover] .slide.has-sub:hover .slide-menu.child1 .slide.has-sub:hover .slide-menu.child2,
  [data-nav-style=icon-hover][data-toggled=icon-hover-closed] .slide.has-sub:hover .slide-menu.child1 .slide.has-sub:hover .slide-menu.child2 {
    display: block !important;
  }
  .icon-hover .slide.has-sub:hover .slide-menu.child1 .slide.has-sub:hover .slide-menu.child2 .slide.has-sub:hover .slide-menu.child3, [data-nav-layout=horizontal][data-nav-style=icon-hover] .slide.has-sub:hover .slide-menu.child1 .slide.has-sub:hover .slide-menu.child2 .slide.has-sub:hover .slide-menu.child3,
  [data-nav-style=icon-hover][data-toggled=icon-hover-closed] .slide.has-sub:hover .slide-menu.child1 .slide.has-sub:hover .slide-menu.child2 .slide.has-sub:hover .slide-menu.child3 {
    display: block !important;
  }
}

[data-nav-layout=horizontal][data-nav-style=icon-hover] .mega-menu {
  columns: 1;
}

@media (min-width: 992px) {
  [data-nav-layout=vertical][data-nav-style=icon-hover] .app-sidebar .main-menu .slide .side-menu__item:hover > .side-menu__item .side-menu__icon {
    color: #fff;
    fill: #fff;
  }
  [data-nav-layout=vertical][data-nav-style=icon-hover][data-toggled=icon-hover-closed] .app-sidebar .main-menu > .slide {
    padding: 0;
    padding-inline-end: 0.6rem;
  }
  [data-nav-layout=vertical][data-nav-style=icon-hover][data-toggled=icon-hover-closed] .app-sidebar .slide .slide-menu.child1, [data-nav-layout=vertical][data-nav-style=icon-hover][data-toggled=icon-hover-closed] .app-sidebar .slide .slide-menu.child2, [data-nav-layout=vertical][data-nav-style=icon-hover][data-toggled=icon-hover-closed] .app-sidebar .slide .slide-menu.child3 {
    border-radius: 0 0.5rem 0.5rem 0;
  }
  [data-nav-layout=vertical][data-nav-style=icon-hover][data-toggled=icon-hover-closed][dir=rtl] .app-sidebar .slide .slide-menu.child1, [data-nav-layout=vertical][data-nav-style=icon-hover][data-toggled=icon-hover-closed][dir=rtl] .app-sidebar .slide .slide-menu.child2, [data-nav-layout=vertical][data-nav-style=icon-hover][data-toggled=icon-hover-closed][dir=rtl] .app-sidebar .slide .slide-menu.child3 {
    border-radius: 0.5rem 0 0 0.5rem;
  }
  [data-nav-layout=vertical][data-nav-style=icon-hover][data-toggled=icon-hover-closed][data-theme-mode=dark] .app-sidebar .main-sidebar-header .header-logo .toggle-dark {
    display: block;
  }
  [data-nav-layout=vertical][data-nav-style=icon-hover][data-toggled=icon-hover-closed][data-theme-mode=dark] .app-sidebar .main-sidebar-header .header-logo .desktop-dark,
  [data-nav-layout=vertical][data-nav-style=icon-hover][data-toggled=icon-hover-closed][data-theme-mode=dark] .app-sidebar .main-sidebar-header .header-logo .desktop-logo,
  [data-nav-layout=vertical][data-nav-style=icon-hover][data-toggled=icon-hover-closed][data-theme-mode=dark] .app-sidebar .main-sidebar-header .header-logo .toggle-logo {
    display: none;
  }
  [data-nav-layout=vertical][data-nav-style=icon-hover][data-toggled=icon-hover-closed] .app-sidebar {
    position: absolute;
  }
  [data-nav-layout=vertical][data-nav-style=icon-hover][data-toggled=icon-hover-closed] .app-sidebar .slide-menu.child1, [data-nav-layout=vertical][data-nav-style=icon-hover][data-toggled=icon-hover-closed] .app-sidebar .slide-menu.child2, [data-nav-layout=vertical][data-nav-style=icon-hover][data-toggled=icon-hover-closed] .app-sidebar .slide-menu.child3 {
    padding: 0.1875rem;
  }
  [data-nav-layout=vertical][data-nav-style=icon-hover][data-toggled=icon-hover-closed] .app-sidebar .slide-menu.child1 li.slide, [data-nav-layout=vertical][data-nav-style=icon-hover][data-toggled=icon-hover-closed] .app-sidebar .slide-menu.child2 li.slide, [data-nav-layout=vertical][data-nav-style=icon-hover][data-toggled=icon-hover-closed] .app-sidebar .slide-menu.child3 li.slide {
    padding-inline-start: 0;
  }
  [data-nav-layout=vertical][data-nav-style=icon-hover][data-toggled=icon-hover-closed] .app-sidebar .slide-menu.child1 li.slide a, [data-nav-layout=vertical][data-nav-style=icon-hover][data-toggled=icon-hover-closed] .app-sidebar .slide-menu.child2 li.slide a, [data-nav-layout=vertical][data-nav-style=icon-hover][data-toggled=icon-hover-closed] .app-sidebar .slide-menu.child3 li.slide a {
    border-radius: 0;
  }
}

@media (min-width: 992px) {
  [data-nav-layout=vertical][data-nav-style=icon-hover][data-toggled=icon-hover-closed] .app-sidebar .slide .side-menu__label .badge {
    display: none;
  }
  [data-nav-layout=vertical][data-nav-style=icon-hover][data-toggled=icon-hover-closed] .app-sidebar .side-menu__item {
    padding: 0.65rem 1.75rem;
  }
  [data-nav-layout=vertical][data-nav-style=icon-hover][data-toggled=icon-hover-closed][data-bg-img=bgimg1] .app-sidebar .main-sidebar-header, [data-nav-layout=vertical][data-nav-style=icon-hover][data-toggled=icon-hover-closed][data-bg-img=bgimg2] .app-sidebar .main-sidebar-header, [data-nav-layout=vertical][data-nav-style=icon-hover][data-toggled=icon-hover-closed][data-bg-img=bgimg3] .app-sidebar .main-sidebar-header, [data-nav-layout=vertical][data-nav-style=icon-hover][data-toggled=icon-hover-closed][data-bg-img=bgimg4] .app-sidebar .main-sidebar-header, [data-nav-layout=vertical][data-nav-style=icon-hover][data-toggled=icon-hover-closed][data-bg-img=bgimg5] .app-sidebar .main-sidebar-header {
    backdrop-filter: blur(30px);
  }
}
@media (min-width: 992px) {
  .icon-hover .app-sidebar .side-menu__icon, [data-nav-layout=horizontal][data-nav-style=icon-hover] .app-sidebar .side-menu__icon, [data-nav-style=icon-hover][data-toggled=icon-hover-closed] .app-sidebar .side-menu__icon {
    color: var(--menu-prime-color);
    fill: var(--menu-prime-color);
  }
}