/* Start:: mail-app */
.main-mail-container {
  position: relative;
  overflow: hidden;
}

.mail-navigation,
.total-mails,
.mail-recepients {
  background-color: var(--custom-white);
  height: calc(100vh - 7rem);
  overflow: hidden;
  border-radius: 0.5rem;
}

.mail-info-body {
  max-height: calc(100vh - 8.3rem);
}

@media (min-width: 1400px) {
  .total-mails .mail-msg .mail-msg-content {
    display: inline-block;
  }
}
@media (min-width: 1400px) and (max-width: 1489.98px) {
  .responsive-mail-action-icons .dropdown {
    display: block;
  }
  .responsive-mail-action-icons .close-button {
    display: none;
  }
  .mail-action-icons {
    display: none;
  }
}
@media (max-width: 1399.98px) {
  .responsive-mail-action-icons {
    display: block;
    display: flex;
  }
  .mail-action-icons {
    display: none;
  }
}
@media (max-width: 575.98px) {
  .mail-recepients {
    display: none;
  }
}
@media (min-width: 1489px) {
  .responsive-mail-action-icons {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .mail-navigation {
    width: 100%;
  }
}
@media (min-width: 992px) {
  .mail-navigation {
    min-width: 20rem;
    max-width: 20rem;
  }
}
.total-mails {
  width: 100%;
}
.total-mails .mail-messages {
  max-height: calc(100vh - 12.65rem);
}
.total-mails .mail-messages li {
  padding: 1.1rem 1.25rem 0.625rem 1.25rem;
  border-bottom: 1px solid var(--default-border);
  border-inline-start: 2px solid transparent;
}
.total-mails .mail-messages li.active {
  background-color: var(--primary005);
  border-inline-start: 2px solid var(--primary-color);
}
.total-mails .mail-messages li:last-child {
  border-bottom: 0;
}
.total-mails .mail-messages li .avatar.mail-msg-avatar {
  width: 2rem;
  height: 2rem;
}
.total-mails .mail-messages li .avatar.mail-msg-avatar.online:before, .total-mails .mail-messages li .avatar.mail-msg-avatar.offline:before {
  width: 0.55rem;
  height: 0.55rem;
}
.total-mails .mail-messages li .mail-msg .mail-starred i {
  color: var(--text-muted);
  opacity: 0.5;
}
.total-mails .mail-messages li .mail-msg .mail-starred.true i {
  color: rgb(var(--warning-rgb));
  opacity: 1;
}

.mail-recepients {
  min-width: 4.4rem;
  max-width: 4.4rem;
}
.mail-recepients .total-mail-recepients {
  max-height: calc(100vh - 12.4rem);
}
.mail-recepients .mail-recepeint-person .avatar {
  width: 2rem;
  height: 2rem;
  margin-block-end: 1rem;
}
.mail-recepients .mail-recepeint-person .avatar.online:before, .mail-recepients .mail-recepeint-person .avatar.offline:before {
  width: 0.55rem;
  height: 0.55rem;
}
.mail-recepients .mail-recepeint-person:last-child {
  margin-block-end: 0;
}

.mail-navigation ul.mail-main-nav {
  max-height: calc(100vh - 17rem);
  padding: 1rem;
  margin-block-end: 0;
}
.mail-navigation ul.mail-main-nav li {
  padding: 0.5rem;
  border-radius: var(--default-border);
  border-radius: 0.25rem;
  font-weight: 500;
}
.mail-navigation ul.mail-main-nav li.active {
  color: var(--primary-color);
  border: 1px dashed var(--primary-color);
  background-color: var(--primary005);
  border-inline-start: 4px solid var(--primary-color);
}
.mail-navigation ul.mail-main-nav li.active div {
  color: var(--primary-color);
}
.mail-navigation ul.mail-main-nav li:hover div {
  color: var(--primary-color);
}

@media (min-width: 576px) {
  .mail-msg-content {
    width: 100%;
  }
}
@media (max-width: 575.98px) {
  .mail-msg-content {
    max-width: 180px;
  }
}
.mails-information {
  width: 100%;
}
.mails-information .mail-info-header {
  padding: 0.75rem;
  border-block-end: 1px solid var(--default-border);
}
.mails-information .mail-info-footer {
  padding: 0.75rem;
  border-block-start: 1px solid var(--default-border);
}
.mails-information .mail-attachment {
  padding: 0.25rem;
  width: 12rem;
  height: 2.75rem;
  border: 1px solid var(--default-border);
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
}
.mails-information .mail-attachment .attachment-icon svg,
.mails-information .mail-attachment .attachment-icon i {
  width: 1.5rem;
  height: 1.5rem;
  font-size: 2rem;
  margin-inline-end: 0.5rem;
}
.mails-information .mail-attachment .attachment-name {
  max-width: 7rem;
  display: inline-block;
  font-size: 0.75rem;
  font-weight: 500;
}

.mail-reply .ql-toolbar.ql-snow .ql-formats {
  margin-top: 5px;
  margin-bottom: 5px;
}

#mail-compose-editor .ql-editor {
  min-height: 12.62rem !important;
}

.mail-compose .ql-toolbar.ql-snow .ql-formats {
  margin-top: 5px;
  margin-bottom: 5px;
}

.offcanvas.offcanvas-end.mail-info-offcanvas {
  width: 50rem;
}

/* End:: mail-app */
/* Start:: mail-settings */
.mail-notification-settings, .mail-security-settings {
  width: 60%;
}

@media (max-width: 575.98px) {
  #account-settings .btn-group label {
    font-size: 0.625rem;
  }
}
.choices__list--dropdown .choices__item--selectable,
.choices__list[aria-expanded] .choices__item--selectable {
  padding: 10px !important;
}

.choices__list--dropdown .choices__item--selectable::after,
.choices__list[aria-expanded] .choices__item--selectable::after {
  display: none;
}

/* End:: mail-settings */
.mail-messages {
  box-shadow: inset 0px -3px 9px var(--black-1);
}

.total-mails .mail-messages .mail-starred i {
  color: var(--text-muted);
  opacity: 0.5;
}

.total-mails .mail-messages .mail-important i {
  color: var(--text-muted);
  opacity: 0.5;
}

.total-mails .mail-messages .mail-important i {
  font-size: 20px;
  line-height: 1;
}

.total-mails .mail-messages .mail-starred.true i {
  color: rgb(var(--warning-rgb));
  opacity: 1;
}

.mail-messages .table tbody tr.mail-selected {
  border-inline-start: 2px solid var(--primary-color);
}

.mail-messages .table tbody tr.mail-selected td {
  background-color: var(--default-background);
}

.mail-action-icons .btn-close {
  width: 1.6rem !important;
  height: 1.6rem !important;
  opacity: 0.9 !important;
}