@charset "UTF-8";
@import "tailwindcss";

:root {
  --body-bg-rgb: 242, 244, 249;
  --primary-rgb: 3, 181, 98;
  --secondary-rgb: 127, 103, 257;
  --warning-rgb: 255, 169, 9;
  --info-rgb: 15, 188, 249;
  --success-rgb: 83, 196, 5;
  --danger-rgb: 253, 73, 99;
  --light-rgb: 246, 249, 249;
  --dark-rgb: 10, 10, 10;
  --orange-rgb: 254, 124, 88;
  --pink-rgb: 254, 84, 155;
  --teal-rgb: 0, 216, 216;
  --purple-rgb: 123, 118, 254;
  --green-rgb: 1, 239, 140;
  --default-body-bg-color: rgb(var(--body-bg-rgb));
  --primary-color: rgb(var(--primary-rgb));
  --primary-border: rgb(var(--primary-rgb));
  --primary01: rgba(var(--primary-rgb), 0.1);
  --primary02: rgba(var(--primary-rgb), 0.2);
  --primary03: rgba(var(--primary-rgb), 0.3);
  --primary04: rgba(var(--primary-rgb), 0.4);
  --primary05: rgba(var(--primary-rgb), 0.5);
  --primary06: rgba(var(--primary-rgb), 0.6);
  --primary07: rgba(var(--primary-rgb), 0.7);
  --primary08: rgba(var(--primary-rgb), 0.8);
  --primary09: rgba(var(--primary-rgb), 0.9);
  --primary005: rgba(var(--primary-rgb), 0.05);
  --default-font-family: "Plus Jakarta Sans", sans-serif;
  --default-font-weight: 400;
  --default-text-color: #010101;
  --default-border: #eeedf3;
  --default-background: #f9fafb;
  --menu-bg: #fff;
  --menu-prime-color: #61748f;
  --menu-border-color: #e2e5e7;
  --header-bg: #fff;
  --header-prime-color: #61748f;
  --header-border-color: #e2e5e7;
  --custom-white: #fff;
  --custom-black: #000;
  --bootstrap-card-border: #e2e5e7;
  --list-hover-focus-bg: #f5f6f7;
  --text-muted: #8d9eb5;
  --input-border: #e2e6f1;
  --form-control-bg: #ffffff;
  --bs-link-color-rgb: var(--default-text-color);
  /* Gray set */
  --gray-1: #f9fafb;
  --gray-2: #f2f4f5;
  --gray-3: #e6eaeb;
  --gray-4: #dbdfe1;
  --gray-5: #949eb7;
  --gray-6: #7987a1;
  --gray-7: #4d5875;
  --gray-8: #383853;
  --gray-9: #323251;
  /* White set */
  --white-1: rgba(255, 255, 255, 0.1);
  --white-2: rgba(255, 255, 255, 0.2);
  --white-3: rgba(255, 255, 255, 0.3);
  --white-4: rgba(255, 255, 255, 0.4);
  --white-5: rgba(255, 255, 255, 0.5);
  --white-6: rgba(255, 255, 255, 0.6);
  --white-7: rgba(255, 255, 255, 0.7);
  --white-8: rgba(255, 255, 255, 0.8);
  --white-9: rgba(255, 255, 255, 0.9);
  /* Black set */
  --black-1: rgba(0, 0, 0, 0.1);
  --black-2: rgba(0, 0, 0, 0.2);
  --black-3: rgba(0, 0, 0, 0.3);
  --black-4: rgba(0, 0, 0, 0.4);
  --black-5: rgba(0, 0, 0, 0.5);
  --black-6: rgba(0, 0, 0, 0.6);
  --black-7: rgba(0, 0, 0, 0.7);
  --black-8: rgba(0, 0, 0, 0.8);
  --black-9: rgba(0, 0, 0, 0.9);
}

[data-theme-mode=dark] {
  --body-bg-rgb: 25, 25, 28;
  --body-bg-rgb2: 45, 45, 48;
  --menu-bg: rgb(var(--body-bg-rgb));
  --menu-border-color: rgba(255, 255, 255, 0.1);
  --menu-prime-color: rgba(255,255,255,0.4);
  --header-bg: rgb(var(--body-bg-rgb));
  --header-prime-color: rgba(255,255,255,0.4);
  --header-border-color: rgba(255, 255, 255, 0.1);
  --custom-white: rgb(var(--body-bg-rgb));
  --custom-black: #fff;
  --default-border: rgba(255, 255, 255, 0.1);
  --default-text-color: rgba(255, 255, 255, 0.8);
  --light-rgb: 43, 46, 49;
  --dark-rgb: 240, 245, 248;
  --bootstrap-card-border: rgba(255, 255, 255, 0.1);
  --list-hover-focus-bg: rgba(255, 255, 255, 0.1);
  --default-background: rgb(var(--body-bg-rgb2));
  --default-body-bg-color: rgb(var(--body-bg-rgb2));
  --text-muted: rgba(255, 255, 255, 0.5);
  --input-border: rgba(255, 255, 255, 0.1);
  --form-control-bg: rgb(var(--body-bg-rgb));
  color-scheme: dark;
  /* Gray Set */
  --gray-1: #110f0f;
  --gray-2: #17171c;
  --gray-3: #393946;
  --gray-4: #505062;
  --gray-5: #73738c;
  --gray-6: #8f8fa3;
  --gray-7: #ababba;
  --gray-8: #c7c7d1;
  --gray-9: #e3e3e8;
  /* white set */
  --white-1: rgba(0, 0, 0, 0.1);
  --white-2: rgba(0, 0, 0, 0.2);
  --white-3: rgba(0, 0, 0, 0.3);
  --white-4: rgba(0, 0, 0, 0.4);
  --white-5: rgba(0, 0, 0, 0.5);
  --white-6: rgba(0, 0, 0, 0.6);
  --white-7: rgba(0, 0, 0, 0.7);
  --white-8: rgba(0, 0, 0, 0.8);
  --white-9: rgba(0, 0, 0, 0.9);
  /* black set */
  --black-1: rgba(255, 255, 255, 0.1);
  --black-2: rgba(255, 255, 255, 0.2);
  --black-3: rgba(255, 255, 255, 0.3);
  --black-4: rgba(255, 255, 255, 0.4);
  --black-5: rgba(255, 255, 255, 0.5);
  --black-6: rgba(255, 255, 255, 0.6);
  --black-7: rgba(255, 255, 255, 0.7);
  --black-8: rgba(255, 255, 255, 0.8);
  --black-9: rgba(255, 255, 255, 0.9);
}

@theme {
  --color-body-bg: rgb(242, 244, 249);
  --color-primary: rgb(3, 181, 98);
  --color-secondary: rgb(127, 103, 257);
  --color-warning: rgb(255, 169, 9);
  --color-info: rgb(15, 188, 249);
  --color-success: rgb(83, 196, 5);
  --color-danger: rgb(253, 73, 99);
  --color-light: rgb(246, 249, 249);
  --color-dark: rgb(10, 10, 10);
  --color-orange: rgb(254, 124, 88);
  --color-pink: rgb(254, 84, 155);
  --color-teal: rgb(0, 216, 216);
  --color-purple: rgb(123, 118, 254);
  --color-green: rgb(1, 239, 140);
  --color-gray-1: #f9fafb;
  --color-gray-2: #f2f4f5;
  --color-gray-3: #e6eaeb;
  --color-gray-4: #dbdfe1;
  --color-gray-5: #949eb7;
  --color-gray-6: #7987a1;
  --color-gray-7: #4d5875;
  --color-gray-8: #383853;
  --color-gray-9: #323251;
  --color-bs3-menu: #e2e5e7;
  --color-bs3-muted: #8d9eb5;
  --color-bs3-border: #eeedf3;
  --color-bs3-input-border: #e2e6f1;
  --color-bs3-menu-prime: #61748f;
  --color-bs3-background: #f9fafb;

  --breakpoint-xs: 25rem; /* 400px */
  --breakpoint-sm: 36rem; /* 576px */
  --breakpoint-lg: 62rem; /* 992px */
  --breakpoint-xl: 75rem; /* 1200px */
  --breakpoint-2xl: 88rem; /* 1408px */
  --breakpoint-3xl: 100rem; /* 1600px */

  --animate-fall: fall 2s linear;
  --animate-diagonal-fall: diagonal-fall 2s linear;
  --animate-ring: ring 4s 0.7s ease-in-out infinite;
  --animate-pulse: pulse-pink 2s infinite;

  --text-md: 0.9375rem;

  --shadow-base: 0px .125rem .25rem rgba(0,0,0,0.05);

  @keyframes ring {
    0% {
      transform: rotate(0);
    }
    1% {
      transform: rotate(30deg);
    }
    3% {
      transform: rotate(-28deg);
    }
    5% {
      transform: rotate(34deg);
    }
    7% {
      transform: rotate(-32deg);
    }
    9% {
      transform: rotate(30deg);
    }
    11% {
      transform: rotate(-28deg);
    }
    13% {
      transform: rotate(26deg);
    }
    15% {
      transform: rotate(-24deg);
    }
    17% {
      transform: rotate(22deg);
    }
    19% {
      transform: rotate(-20deg);
    }
    21% {
      transform: rotate(18deg);
    }
    23% {
      transform: rotate(-16deg);
    }
    25% {
      transform: rotate(14deg);
    }
    27% {
      transform: rotate(-12deg);
    }
    29% {
      transform: rotate(10deg);
    }
    31% {
      transform: rotate(-8deg);
    }
    33% {
      transform: rotate(6deg);
    }
    35% {
      transform: rotate(-4deg);
    }
    37% {
      transform: rotate(2deg);
    }
    39% {
      transform: rotate(-1deg);
    }
    41% {
      transform: rotate(1deg);
    }
    43% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(0);
    }
  }

  @keyframes pulse-pink {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(var(--pink-rgb), 0.4);
      box-shadow: 0 0 0 0 rgba(var(--pink-rgb), 0.4);
    }

    70% {
      -moz-box-shadow: 0 0 0 10px rgba(var(--pink-rgb), 0);
      box-shadow: 0 0 0 10px rgba(var(--pink-rgb), 0);
    }

    100% {
      -moz-box-shadow: 0 0 0 0 rgba(var(--pink-rgb), 0);
      box-shadow: 0 0 0 0 rgba(var(--pink-rgb), 0);
    }
  }

  @keyframes fall {
    0% {
      opacity: 0;
      transform: translateY(0);
    }
    10% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
      transform: translateY(100vh);
    }
  }

  @keyframes diagonal-fall {
    0% {
      opacity: 0;
      transform: translate(0, 0);
    }
    10% {
      opacity: 1;
    }
    100% {
      opacity: 0.25;
      transform: translate(10vw, 100vh);
    }
  }

  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(6rem);
    }

    100% {
      opacity: 1;
    }

    0% {
      opacity: 0;
      transform: translateY(6rem);
    }
  }
}

@utility pos-inherit {
  position: inherit;
}

@custom-variant dark (&:where([data-theme-mode="dark"], [data-theme-mode="dark"] *));
@custom-variant light (&:where([data-theme-mode="light"], [data-theme-mode="light"] *));

@custom-variant nav-horizontal (&:where([data-nav-layout="horizontal"], [data-nav-layout="horizontal"] *));
@custom-variant nav-vertical (&:where([data-nav-layout="vertical"], [data-nav-layout="vertical"] *));

@custom-variant header-dark (&:where([data-header-styles="dark"], [data-header-styles="dark"] *));
@custom-variant header-color (&:where([data-header-styles="color"], [data-header-styles="color"] *));
@custom-variant header-gradient (&:where([data-header-styles="gradient"], [data-header-styles="gradient"] *));
@custom-variant header-light (&:where([data-header-styles="light"], [data-header-styles="light"] *));

@custom-variant vertical-closed (&:where([data-vertical-style="closed"], [data-vertical-style="closed"] *));
@custom-variant vertical-detached (&:where([data-vertical-style="detached"], [data-vertical-style="detached"] *));
@custom-variant vertical-doublemenu (&:where([data-vertical-style="doublemenu"], [data-vertical-style="doublemenu"] *));
@custom-variant vertical-icontext (&:where([data-vertical-style="icontext"], [data-vertical-style="icontext"] *));

@custom-variant toggled-open (&:where([data-toggled="close-menu-open"], [data-toggled="close-menu-open"] *));
@custom-variant toggled-closed (&:where([data-toggled="close-menu-close"], [data-toggled="close-menu-close"] *));
@custom-variant toggled-detachedclosed (&:where([data-toggled="detached-close"], [data-toggled="detached-close"] *));
@custom-variant toggled-doubleopen (&:where([data-toggled="double-menu-open"], [data-toggled="double-menu-open"] *));
@custom-variant toggled-doubleclosed (&:where([data-toggled="double-menu-close"], [data-toggled="double-menu-close"] *));
@custom-variant toggled-iconclose (&:where([data-toggled="icon-text-close"], [data-toggled="icon-text-close"] *));

@custom-variant page-classic (&:where([data-page-style="classic"], [data-page-style="classic"] *));
@custom-variant page-modern (&:where([data-page-style="modern"], [data-page-style="modern"] *));
