@import "tailwindcss";

@theme {
  --color-body-bg: rgb(242, 244, 249);
  --color-primary: rgb(3, 181, 98);
  --color-secondary: rgb(127, 103, 257);
  --color-warning: rgb(255, 169, 9);
  --color-info: rgb(15, 188, 249);
  --color-success: rgb(83, 196, 5);
  --color-danger: rgb(253, 73, 99);
  --color-light: rgb(246, 249, 249);
  --color-dark: rgb(10, 10, 10);
  --color-orange: rgb(254, 124, 88);
  --color-pink: rgb(254, 84, 155);
  --color-teal: rgb(0, 216, 216);
  --color-purple: rgb(123, 118, 254);
  --color-green: rgb(1, 239, 140);
  --color-gray-1: #f9fafb;
  --color-gray-2: #f2f4f5;
  --color-gray-3: #e6eaeb;
  --color-gray-4: #dbdfe1;
  --color-gray-5: #949eb7;
  --color-gray-6: #7987a1;
  --color-gray-7: #4d5875;
  --color-gray-8: #383853;
  --color-gray-9: #323251;
  --color-bs3-menu: #e2e5e7;
  --color-bs3-muted: #8d9eb5;
  --color-bs3-border: #eeedf3;
  --color-bs3-input-border: #e2e6f1;
  --color-bs3-menu-prime: #61748f;
  --color-bs3-background: #f9fafb;

  --breakpoint-sm: 36rem; /* 576px */
  --breakpoint-lg: 62rem; /* 992px */
  --breakpoint-xl: 75rem; /* 1200px */
  --breakpoint-2xl: 88rem; /* 1408px */
  --breakpoint-3xl: 100rem; /* 1600px */

  --animate-fall: fall 2s linear;
  --animate-diagonal-fall: diagonal-fall 2s linear;
  --animate-ring: ring 4s 0.7s ease-in-out infinite;
  --animate-pulse: pulse-pink 2s infinite;

  --text-md: 0.9375rem;

  --shadow-base: 0px .125rem .25rem rgba(0,0,0,0.05);

  @keyframes ring {
    0% {
      transform: rotate(0);
    }
    1% {
      transform: rotate(30deg);
    }
    3% {
      transform: rotate(-28deg);
    }
    5% {
      transform: rotate(34deg);
    }
    7% {
      transform: rotate(-32deg);
    }
    9% {
      transform: rotate(30deg);
    }
    11% {
      transform: rotate(-28deg);
    }
    13% {
      transform: rotate(26deg);
    }
    15% {
      transform: rotate(-24deg);
    }
    17% {
      transform: rotate(22deg);
    }
    19% {
      transform: rotate(-20deg);
    }
    21% {
      transform: rotate(18deg);
    }
    23% {
      transform: rotate(-16deg);
    }
    25% {
      transform: rotate(14deg);
    }
    27% {
      transform: rotate(-12deg);
    }
    29% {
      transform: rotate(10deg);
    }
    31% {
      transform: rotate(-8deg);
    }
    33% {
      transform: rotate(6deg);
    }
    35% {
      transform: rotate(-4deg);
    }
    37% {
      transform: rotate(2deg);
    }
    39% {
      transform: rotate(-1deg);
    }
    41% {
      transform: rotate(1deg);
    }
    43% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(0);
    }
  }

  @keyframes pulse-pink {
    0% {
      -moz-box-shadow: 0 0 0 0 rgba(var(--pink-rgb), 0.4);
      box-shadow: 0 0 0 0 rgba(var(--pink-rgb), 0.4);
    }

    70% {
      -moz-box-shadow: 0 0 0 10px rgba(var(--pink-rgb), 0);
      box-shadow: 0 0 0 10px rgba(var(--pink-rgb), 0);
    }

    100% {
      -moz-box-shadow: 0 0 0 0 rgba(var(--pink-rgb), 0);
      box-shadow: 0 0 0 0 rgba(var(--pink-rgb), 0);
    }
  }

  @keyframes fall {
    0% {
      opacity: 0;
      transform: translateY(0);
    }
    10% {
      opacity: 1;
    }
    100% {
      opacity: 0.5;
      transform: translateY(100vh);
    }
  }

  @keyframes diagonal-fall {
    0% {
      opacity: 0;
      transform: translate(0, 0);
    }
    10% {
      opacity: 1;
    }
    100% {
      opacity: 0.25;
      transform: translate(10vw, 100vh);
    }
  }

  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(6rem);
    }

    100% {
      opacity: 1;
    }

    0% {
      opacity: 0;
      transform: translateY(6rem);
    }
  }
}

@utility pos-inherit {
  position: inherit;
}

@custom-variant dark (&:where([data-theme-mode="dark"], [data-theme-mode="dark"] *));
@custom-variant light (&:where([data-theme-mode="light"], [data-theme-mode="light"] *));

@custom-variant nav-horizontal (&:where([data-nav-layout="horizontal"], [data-nav-layout="horizontal"] *));
@custom-variant nav-vertical (&:where([data-nav-layout="vertical"], [data-nav-layout="vertical"] *));

@custom-variant header-dark (&:where([data-header-styles="dark"], [data-header-styles="dark"] *));
@custom-variant header-color (&:where([data-header-styles="color"], [data-header-styles="color"] *));
@custom-variant header-gradient (&:where([data-header-styles="gradient"], [data-header-styles="gradient"] *));
@custom-variant header-light (&:where([data-header-styles="light"], [data-header-styles="light"] *));

@custom-variant vertical-closed (&:where([data-vertical-style="closed"], [data-vertical-style="closed"] *));
@custom-variant vertical-detached (&:where([data-vertical-style="detached"], [data-vertical-style="detached"] *));
@custom-variant vertical-doublemenu (&:where([data-vertical-style="doublemenu"], [data-vertical-style="doublemenu"] *));
@custom-variant vertical-icontext (&:where([data-vertical-style="icontext"], [data-vertical-style="icontext"] *));

@custom-variant toggled-open (&:where([data-toggled="close-menu-open"], [data-toggled="close-menu-open"] *));
@custom-variant toggled-closed (&:where([data-toggled="close-menu-close"], [data-toggled="close-menu-close"] *));
@custom-variant toggled-detachedclosed (&:where([data-toggled="detached-close"], [data-toggled="detached-close"] *));
@custom-variant toggled-doubleopen (&:where([data-toggled="double-menu-open"], [data-toggled="double-menu-open"] *));
@custom-variant toggled-doubleclosed (&:where([data-toggled="double-menu-close"], [data-toggled="double-menu-close"] *));
@custom-variant toggled-iconclose (&:where([data-toggled="icon-text-close"], [data-toggled="icon-text-close"] *));

@custom-variant page-classic (&:where([data-page-style="classic"], [data-page-style="classic"] *));
@custom-variant page-modern (&:where([data-page-style="modern"], [data-page-style="modern"] *));
