.authentication {
  min-height: 100vh;
}
.authentication .authentication-brand.desktop-dark {
  display: block;
}
.authentication .form-control {
  padding-inline-end: 2.5rem;
}
.authentication .swiper-button-next,
.authentication .swiper-button-prev {
  background-color: rgba(255, 255, 255, 0.05);
  color: rgba(255, 255, 255, 0.5) !important;
}
.authentication .swiper-pagination-bullet {
  opacity: 0.1;
}
.authentication .swiper-pagination-bullet-active {
  opacity: 0.5;
}
.authentication .google-svg {
  width: 0.75rem;
  height: 0.75rem;
  margin-inline-end: 0.5rem;
}
.authentication .authentication-barrier {
  position: relative;
}
.authentication .authentication-barrier span {
  position: relative;
  z-index: 2;
}
.authentication .authentication-barrier:before {
  position: absolute;
  content: "";
  width: 45%;
  height: 0.125rem;
  background-image: linear-gradient(to left, transparent, rgb(var(--light-rgb)));
  border-radius: 50%;
  inset-inline-end: -35px;
  inset-block-start: 10px;
  z-index: 1;
}
.authentication .authentication-barrier:after {
  position: absolute;
  content: "";
  width: 45%;
  height: 0.125rem;
  background-image: linear-gradient(to left, rgb(var(--light-rgb)), transparent);
  border-radius: 50%;
  inset-inline-start: -35px;
  inset-block-start: 10px;
  z-index: 1;
}
.authentication.coming-soon .authentication-cover, .authentication.under-maintenance .authentication-cover {
  background-image: none;
}
.authentication.coming-soon .authentication-cover:before, .authentication.coming-soon .authentication-cover:after, .authentication.under-maintenance .authentication-cover:before, .authentication.under-maintenance .authentication-cover:after {
  display: none;
}
.authentication.coming-soon .authentication-cover .aunthentication-cover-content, .authentication.under-maintenance .authentication-cover .aunthentication-cover-content {
  width: 100%;
  height: 100%;
  padding: 3rem;
  backdrop-filter: none;
}
.authentication.coming-soon .authentication-cover .aunthentication-cover-content:before, .authentication.coming-soon .authentication-cover .aunthentication-cover-content:after, .authentication.under-maintenance .authentication-cover .aunthentication-cover-content:before, .authentication.under-maintenance .authentication-cover .aunthentication-cover-content:after {
  display: none;
}
.authentication.coming-soon .authentication-cover .aunthentication-cover-content .coming-soon-time,
.authentication.coming-soon .authentication-cover .aunthentication-cover-content .under-maintenance-time, .authentication.under-maintenance .authentication-cover .aunthentication-cover-content .coming-soon-time,
.authentication.under-maintenance .authentication-cover .aunthentication-cover-content .under-maintenance-time {
  border: 2px dashed rgba(var(--primary-rgb), 0.2);
}
.authentication.coming-soon .authentication-cover .aunthentication-cover-content .authentication-brand, .authentication.under-maintenance .authentication-cover .aunthentication-cover-content .authentication-brand {
  width: auto;
  height: 2rem;
  border: 0;
}
.authentication .coming-soom-image-container img,
.authentication .under-maintenance-image-container img {
  width: 100%;
  height: auto;
}
.authentication.authentication-cover-main .authentication-cover {
  background-color: var(--primary01);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-inline-end: 1px dashed rgba(var(--primary-rgb), 0.8);
}
.authentication .authentication-cover {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.authentication .authentication-cover:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  inset-inline-start: 0;
  inset-inline-end: 0;
  inset-block-start: 0;
  inset-block-end: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}
.authentication .authentication-cover .aunthentication-cover-content {
  width: 70%;
  height: 20rem;
  padding: 2rem;
  position: relative;
}
.authentication .authentication-cover .aunthentication-cover-content:before {
  position: absolute;
  content: "";
  width: 600px;
  height: 600px;
  background-image: url(/images/media/svg/pattern-3.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.15;
}
.authentication .auth-cover-bg {
  width: 1110px;
  height: 300px;
  background-color: var(--primary02);
  position: absolute;
  border-top-left-radius: 22rem;
  bottom: -53px;
  inset-inline-end: -10px;
  z-index: -1;
  rotate: 5deg;
}
.authentication .auth-cover-img {
  width: 500px !important;
  height: auto;
}
.authentication.authentication-basic .desktop-dark {
  display: block;
}
.authentication .form-control-lg#one, .authentication .form-control-lg#two, .authentication .form-control-lg#three, .authentication .form-control-lg#four {
  padding-inline: 0;
}

@media (min-width: 992px) {
  .aunthentication-cover-content {
    border-radius: 0.3rem;
  }
}
[data-theme-mode=dark] .authentication.authentication-basic .desktop-dark {
  display: block;
}
[data-theme-mode=dark] .authentication .authentication-brand.desktop-dark {
  display: block;
}
[data-theme-mode=dark] .authentication.authentication-cover.desktop-dark {
  display: block;
}

.auth-img {
  width: 400px;
  height: auto;
}

/* Start:: coming soon */
.coming-soon-main {
  position: relative;
  background: radial-gradient(transparent, transparent, rgba(3, 181, 98, 0.3));
}

.footer.authentication-footer {
  background-color: transparent;
  box-shadow: none;
  z-index: 100;
  padding-inline-start: 0;
}

.auth-main-text {
  font-size: 3rem !important;
}

@media (max-width: 400px) {
  .auth-main-text {
    font-size: 2rem !important;
  }
}
.auth-timer {
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.anim, .anim svg {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.anim path {
  stroke-width: 1;
}

/* End:: coming soon */
.show-password-button {
  position: absolute;
  padding: 0.4rem;
  inset-block-start: 0;
  inset-inline-end: 4px;
}

.authentication.authentication-cover-main .show-password-button {
  padding: 0.65rem;
}

.authentication-basic .show-password-button {
  padding: 0.65rem;
}

.authentication-background {
  position: relative;
  z-index: 0;
  background-image: linear-gradient(to right top, rgba(var(--primary-rgb), 0.2), transparent, rgba(var(--primary-rgb), 0.1), transparent, rgba(var(--primary-rgb), 0.2));
}
.authentication-background:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(/images/media/svg/pattern-5.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  opacity: 0.05;
}

.authentication-cover-image {
  border-radius: 50%;
}

.authentication-cover-icon {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: #fff !important;
  border: 0 !important;
}
.authentication-cover-icon:hover, .authentication-cover-icon:active, .authentication-cover-icon:focus {
  background-color: rgba(255, 255, 255, 0.2) !important;
  color: #fff !important;
  border: 0 !important;
}

.authentication.two-step-verification .form-control {
  padding-inline-end: 0.5rem;
}

.authentication-cover .authentication-cover-logo {
  position: absolute;
  top: 30px;
  inset-inline-start: 30px;
}

.auth-google-icon {
  background-color: rgba(var(--primary-rgb), 0.05);
}

.auth-facebook-icon {
  background-color: rgba(var(--secondary-rgb), 0.05);
}

.auth-twitter-icon {
  background-color: rgba(var(--danger-rgb), 0.05);
}

.snow-container {
  position: fixed;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  pointer-events: none;
}

.snowflake {
  position: absolute;
  background-color: var(--primary08);
  border-radius: 50%;
  opacity: 0.8;
  pointer-events: none;
}

@keyframes fall {
  0% {
    opacity: 0;
    transform: translateY(0);
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 0.5;
    transform: translateY(100vh);
  }
}
@keyframes diagonal-fall {
  0% {
    opacity: 0;
    transform: translate(0, 0);
  }
  10% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
    transform: translate(10vw, 100vh);
  }
}
.authentication .desktop-dark {
  display: none !important;
}

[data-theme-mode=dark] .authentication .desktop-dark {
  display: block !important;
}
[data-theme-mode=dark] .authentication .desktop-logo {
  display: none !important;
}