/* Start:: ribbons */
.ribbon {
  width: 80px;
  height: 80px;
  overflow: hidden;
  position: absolute;
  z-index: 2;
}

.ribbon::before,
.ribbon::after {
  position: absolute;
  z-index: -1;
  content: "";
  display: block;
}

.ribbon span {
  position: absolute;
  display: block;
  width: 120px;
  padding: 6px 0;
  z-index: 2;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
  font: 500 12px/1 "Lato", sans-serif;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-transform: uppercase;
  text-align: center;
}

.ribbon.ribbon-primary:before, .ribbon.ribbon-primary:after {
  border: 3px solid var(--black-6);
}
.ribbon.ribbon-primary span {
  background-color: var(--primary-color);
}

.ribbon.ribbon-secondary:before, .ribbon.ribbon-secondary:after {
  border: 3px solid var(--black-6);
}
.ribbon.ribbon-secondary span {
  background-color: rgb(var(--secondary-rgb));
}

.ribbon.ribbon-warning:before, .ribbon.ribbon-warning:after {
  border: 3px solid var(--black-6);
}
.ribbon.ribbon-warning span {
  background-color: rgb(var(--warning-rgb));
}

.ribbon.ribbon-info:before, .ribbon.ribbon-info:after {
  border: 3px solid var(--black-6);
}
.ribbon.ribbon-info span {
  background-color: rgb(var(--info-rgb));
}

.ribbon.ribbon-success:before, .ribbon.ribbon-success:after {
  border: 3px solid var(--black-6);
}
.ribbon.ribbon-success span {
  background-color: rgb(var(--success-rgb));
}

.ribbon.ribbon-danger:before, .ribbon.ribbon-danger:after {
  border: 3px solid var(--black-6);
}
.ribbon.ribbon-danger span {
  background-color: rgb(var(--danger-rgb));
}

.ribbon.ribbon-orange:before, .ribbon.ribbon-orange:after {
  border: 3px solid var(--black-6);
}
.ribbon.ribbon-orange span {
  background-color: rgb(var(--orange-rgb));
}

/* top left */
.ribbon-top-left {
  top: -7px;
  inset-inline-start: -7px;
}

.ribbon-top-left::before,
.ribbon-top-left::after {
  border-top-color: transparent;
  border-left-color: transparent;
}

.ribbon-top-left::before {
  top: 0;
  inset-inline-end: 0;
  z-index: 1;
}

.ribbon-top-left::after {
  bottom: 0;
  inset-inline-start: 0;
  z-index: 1;
}

.ribbon-top-left span {
  inset-inline-end: -12px;
  top: 20px;
  transform: rotate(-45deg);
}

[dir=rtl] .ribbon-top-left span {
  transform: rotate(45deg);
}

/* top left */
/* top right */
.ribbon-top-right {
  top: -7px;
  inset-inline-end: -7px;
}

.ribbon-top-right::before,
.ribbon-top-right::after {
  border-top-color: transparent;
  border-right-color: transparent;
}

.ribbon-top-right::before {
  top: 0;
  inset-inline-start: 0;
  z-index: 1;
}

.ribbon-top-right::after {
  bottom: 0;
  inset-inline-end: 0;
  z-index: 1;
}

.ribbon-top-right span {
  inset-inline-start: -12px;
  top: 20px;
  transform: rotate(45deg);
}

[dir=rtl] .ribbon-top-right span {
  transform: rotate(315deg);
}

/* top right */
/* bottom right */
.ribbon-bottom-right {
  bottom: -7px;
  inset-inline-end: -7px;
}

.ribbon-bottom-right::before,
.ribbon-bottom-right::after {
  border-bottom-color: transparent;
  border-right-color: transparent;
}

.ribbon-bottom-right::before {
  bottom: 0;
  inset-inline-start: 0;
  z-index: 1;
}

.ribbon-bottom-right::after {
  top: 0;
  inset-inline-end: 0;
  z-index: 1;
}

.ribbon-bottom-right span {
  inset-inline-start: -12px;
  bottom: 20px;
  transform: rotate(-225deg);
}

[dir=rtl] .ribbon-bottom-right span {
  transform: rotate(225deg);
}

/* bottom right */
/* bottom left */
.ribbon-bottom-left {
  bottom: -7px;
  inset-inline-start: -7px;
}

.ribbon-bottom-left::before,
.ribbon-bottom-left::after {
  border-bottom-color: transparent;
  border-left-color: transparent;
}

.ribbon-bottom-left::before {
  bottom: 0;
  inset-inline-end: 0;
  z-index: 1;
}

.ribbon-bottom-left::after {
  top: 0;
  inset-inline-start: 0;
  z-index: 1;
}

.ribbon-bottom-left span {
  inset-inline-end: -12px;
  bottom: 20px;
  transform: rotate(225deg);
}

[dir=rtl] .ribbon-bottom-left span {
  transform: rotate(-225deg);
}

/* bottom left */
/* ribbon 2 */
.ribbon-2 {
  display: inline-block;
  color: #fff;
  position: absolute;
}
.ribbon-2.ribbon-primary {
  background: var(--primary-color);
}
.ribbon-2.ribbon-primary:before {
  border-top: 10px solid var(--black-8);
}
.ribbon-2.ribbon-secondary {
  background: rgb(var(--secondary-rgb));
}
.ribbon-2.ribbon-secondary:before {
  border-top: 10px solid var(--black-8);
}
.ribbon-2.ribbon-success {
  background: rgb(var(--success-rgb));
}
.ribbon-2.ribbon-success:before {
  border-top: 10px solid var(--black-8);
}
.ribbon-2.ribbon-info {
  background: rgb(var(--info-rgb));
}
.ribbon-2.ribbon-info:before {
  border-top: 10px solid var(--black-8);
}
.ribbon-2.ribbon-warning {
  background: rgb(var(--warning-rgb));
}
.ribbon-2.ribbon-warning:before {
  border-top: 10px solid var(--black-8);
}
.ribbon-2.ribbon-danger {
  background: rgb(var(--danger-rgb));
}
.ribbon-2.ribbon-danger:before {
  border-top: 10px solid var(--black-8);
}
.ribbon-2.ribbon-orange {
  background: rgb(var(--orange-rgb));
}
.ribbon-2.ribbon-orange:before {
  border-top: 10px solid var(--black-8);
}
.ribbon-2.ribbon-left {
  padding: 5px 40px 5px 20px;
  top: 10px;
  inset-inline-start: -10px;
}
.ribbon-2.ribbon-left:after {
  border-inline-end: 12px solid var(--custom-white);
  border-top: 14px solid transparent;
  border-bottom: 16px solid transparent;
  inset-inline-end: 0;
  top: 0;
}
.ribbon-2.ribbon-left:before {
  border-inline-start: 10px solid transparent;
  inset-inline-start: 0;
  bottom: -10px;
}
.ribbon-2.ribbon-right {
  padding: 5px 20px 5px 40px;
  top: 10px;
  inset-inline-end: -10px;
}
.ribbon-2.ribbon-right:after {
  border-inline-start: 12px solid var(--custom-white);
  border-top: 14px solid transparent;
  border-bottom: 16px solid transparent;
  inset-inline-start: 0;
  top: 0;
}
.ribbon-2.ribbon-right:before {
  border-inline-end: 10px solid transparent;
  inset-inline-end: 0;
  bottom: -10px;
}

.ribbon-2:after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
}

.ribbon-2:before {
  height: 0;
  width: 0;
  position: absolute;
  content: "";
}

/* ribbon 2 */
/* ribbon 3 */
[dir=rtl] .ribbon-3.top-left span:after {
  border-radius: 50px 0 0 0;
}
[dir=rtl] .ribbon-3.top-right span:after {
  border-radius: 0 50px 0 0;
}

.ribbon-3 {
  position: absolute;
  inset-block-start: -8px;
  color: #fff;
}
.ribbon-3.top-left {
  border-start-start-radius: 10px;
  inset-inline-start: 10px;
}
.ribbon-3.top-left span:after {
  inset-inline-end: -7px;
  border-radius: 0 50px 0 0;
}
.ribbon-3.top-right {
  border-start-end-radius: 10px;
  inset-inline-end: 10px;
}
.ribbon-3.top-right span:after {
  inset-inline-start: -7px;
  border-radius: 50px 0 0 0;
}
.ribbon-3 span {
  position: relative;
  display: block;
  text-align: center;
  font-size: 13px;
  line-height: 1;
  padding: 10px;
  z-index: 6;
  width: 33px;
}
.ribbon-3 span:after {
  position: absolute;
  content: "";
  height: 7px;
  width: 7px;
  inset-block-start: 0;
}
.ribbon-3:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  border-inline-start: 16px solid transparent;
  border-inline-end: 17px solid transparent;
  z-index: 6;
}
.ribbon-3.ribbon-success {
  background: rgba(var(--success-rgb), 1);
}
.ribbon-3.ribbon-success span:after {
  background: #0d9b80;
}
.ribbon-3.ribbon-success:after {
  border-block-start: 10px solid rgba(var(--success-rgb), 1);
}
.ribbon-3.ribbon-primary {
  background: rgba(var(--primary-rgb), 1);
}
.ribbon-3.ribbon-primary span:after {
  background: var(--primary-color);
}
.ribbon-3.ribbon-primary:after {
  border-block-start: 10px solid rgba(var(--primary-rgb), 1);
}
.ribbon-3.ribbon-secondary {
  background: rgba(var(--secondary-rgb), 1);
}
.ribbon-3.ribbon-secondary span:after {
  background: #7f67ff;
}
.ribbon-3.ribbon-secondary:after {
  border-block-start: 10px solid rgba(var(--secondary-rgb), 1);
}
.ribbon-3.ribbon-warning {
  background: rgba(var(--warning-rgb), 1);
}
.ribbon-3.ribbon-warning span:after {
  background: #d98415;
}
.ribbon-3.ribbon-warning:after {
  border-block-start: 10px solid rgba(var(--warning-rgb), 1);
}
.ribbon-3.ribbon-info {
  background: rgba(var(--info-rgb), 1);
}
.ribbon-3.ribbon-info span:after {
  background: #148fc7;
}
.ribbon-3.ribbon-info:after {
  border-block-start: 10px solid rgba(var(--info-rgb), 1);
}
.ribbon-3.ribbon-danger {
  background: rgba(var(--danger-rgb), 1);
}
.ribbon-3.ribbon-danger span:after {
  background: #d31236;
}
.ribbon-3.ribbon-danger:after {
  border-block-start: 10px solid rgba(var(--danger-rgb), 1);
}

/* ribbon 3 */
/* ribbon 4 */
.ribbon-4 {
  position: absolute;
  inset-block-start: 0;
  color: #fff;
  width: 30px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}
.ribbon-4 span {
  position: relative;
  display: block;
  text-align: center;
  font-size: 12px;
  line-height: 1;
  padding: 12px 2px;
  z-index: 6;
}
.ribbon-4.top-left {
  inset-inline-start: 10px;
}
.ribbon-4.top-left:after {
  inset-inline-start: 0;
}
.ribbon-4.top-right {
  inset-inline-end: 10px;
}
.ribbon-4.top-right:after {
  inset-inline-end: 0;
}
.ribbon-4:after {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  z-index: 6;
  border-block-end: 8px solid transparent;
}
.ribbon-4.ribbon-primary span {
  background: var(--primary-color);
}
.ribbon-4.ribbon-primary:after {
  border-inline-start: 15px solid var(--primary-color);
  border-inline-end: 15px solid var(--primary-color);
}
.ribbon-4.ribbon-secondary span {
  background: rgb(var(--secondary-rgb));
}
.ribbon-4.ribbon-secondary:after {
  border-inline-start: 15px solid rgb(var(--secondary-rgb));
  border-inline-end: 15px solid rgb(var(--secondary-rgb));
}
.ribbon-4.ribbon-warning span {
  background: rgb(var(--warning-rgb));
}
.ribbon-4.ribbon-warning:after {
  border-inline-start: 15px solid rgb(var(--warning-rgb));
  border-inline-end: 15px solid rgb(var(--warning-rgb));
}
.ribbon-4.ribbon-info span {
  background: rgb(var(--info-rgb));
}
.ribbon-4.ribbon-info:after {
  border-inline-start: 15px solid rgb(var(--info-rgb));
  border-inline-end: 15px solid rgb(var(--info-rgb));
}
.ribbon-4.ribbon-success span {
  background: rgb(var(--success-rgb));
}
.ribbon-4.ribbon-success:after {
  border-inline-start: 15px solid rgb(var(--success-rgb));
  border-inline-end: 15px solid rgb(var(--success-rgb));
}
.ribbon-4.ribbon-danger span {
  background: rgb(var(--danger-rgb));
}
.ribbon-4.ribbon-danger:after {
  border-inline-start: 15px solid rgb(var(--danger-rgb));
  border-inline-end: 15px solid rgb(var(--danger-rgb));
}

/* ribbon 4 */
/* ribbon 5 */
.ribbon-5 {
  position: absolute;
  width: 90px;
  height: 90px;
  color: #fff;
  font-size: 12px;
  padding: 5px;
  font-weight: 600;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.2);
}
.ribbon-5.ribbon-primary {
  background-color: var(--primary-color);
}
.ribbon-5.ribbon-secondary {
  background-color: rgb(var(--secondary-rgb));
}
.ribbon-5.ribbon-warning {
  background-color: rgb(var(--warning-rgb));
}
.ribbon-5.ribbon-info {
  background-color: rgb(var(--info-rgb));
}
.ribbon-5.ribbon-success {
  background-color: rgb(var(--success-rgb));
}
.ribbon-5.ribbon-danger {
  background-color: rgb(var(--danger-rgb));
}
.ribbon-5.ribbon-dark {
  background-color: rgb(var(--dark-rgb));
}
.ribbon-5.ribbon-orange {
  background-color: rgb(var(--orange-rgb));
}
.ribbon-5.top-left {
  top: -2.8125rem;
  inset-inline-start: -2.8125rem;
  transform: rotate(315deg);
}
.ribbon-5.top-right {
  top: -2.8125rem;
  inset-inline-end: -2.8125rem;
  transform: rotate(45deg);
}
.ribbon-5.bottom-left {
  bottom: -2.8125rem;
  inset-inline-start: -2.8125rem;
  transform: rotate(225deg);
}
.ribbon-5.bottom-right {
  bottom: -2.8125rem;
  inset-inline-end: -2.8125rem;
  transform: rotate(135deg);
}

[dir=rtl] .ribbon-5.top-left {
  transform: rotate(-315deg);
}
[dir=rtl] .ribbon-5.top-right {
  transform: rotate(-45deg);
}
[dir=rtl] .ribbon-5.bottom-left {
  transform: rotate(-225deg);
}
[dir=rtl] .ribbon-5.bottom-right {
  transform: rotate(-135deg);
}

/* ribbon 5 */
/* ribbon-6 */
.ribbon-6 {
  color: #fff;
  padding: 2px 8px;
  position: absolute;
  inset-block-start: 10px;
  z-index: 6;
  font-size: 13px;
  box-shadow: 1px 1px 16px rgba(0, 0, 0, 0.2);
}
.ribbon-6.ribbon-primary {
  background-color: var(--primary-color);
}
.ribbon-6.ribbon-primary.ribbon-left:after {
  border-inline-start: 12px solid var(--primary-color);
}
.ribbon-6.ribbon-primary.ribbon-right:after {
  border-inline-end: 12px solid var(--primary-color);
}
.ribbon-6.ribbon-secondary {
  background-color: rgb(var(--secondary-rgb));
}
.ribbon-6.ribbon-secondary.ribbon-left:after {
  border-inline-start: 12px solid rgb(var(--secondary-rgb));
}
.ribbon-6.ribbon-secondary.ribbon-right:after {
  border-inline-end: 12px solid rgb(var(--secondary-rgb));
}
.ribbon-6.ribbon-warning {
  background-color: rgb(var(--warning-rgb));
}
.ribbon-6.ribbon-warning.ribbon-left:after {
  border-inline-start: 12px solid rgb(var(--warning-rgb));
}
.ribbon-6.ribbon-warning.ribbon-right:after {
  border-inline-end: 12px solid rgb(var(--warning-rgb));
}
.ribbon-6.ribbon-info {
  background-color: rgb(var(--info-rgb));
}
.ribbon-6.ribbon-info.ribbon-left:after {
  border-inline-start: 12px solid rgb(var(--info-rgb));
}
.ribbon-6.ribbon-info.ribbon-right:after {
  border-inline-end: 12px solid rgb(var(--info-rgb));
}
.ribbon-6.ribbon-success {
  background-color: rgb(var(--success-rgb));
}
.ribbon-6.ribbon-success.ribbon-left:after {
  border-inline-start: 12px solid rgb(var(--success-rgb));
}
.ribbon-6.ribbon-success.ribbon-right:after {
  border-inline-end: 12px solid rgb(var(--success-rgb));
}
.ribbon-6.ribbon-danger {
  background-color: rgb(var(--danger-rgb));
}
.ribbon-6.ribbon-danger.ribbon-left:after {
  border-inline-start: 12px solid rgb(var(--danger-rgb));
}
.ribbon-6.ribbon-danger.ribbon-right:after {
  border-inline-end: 12px solid rgb(var(--danger-rgb));
}
.ribbon-6.ribbon-dark {
  background-color: rgb(var(--dark-rgb));
}
.ribbon-6.ribbon-dark.ribbon-left:after {
  border-inline-start: 12px solid rgb(var(--dark-rgb));
}
.ribbon-6.ribbon-dark.ribbon-right:after {
  border-inline-end: 12px solid rgb(var(--dark-rgb));
}
.ribbon-6.ribbon-orange {
  background-color: rgb(var(--orange-rgb));
}
.ribbon-6.ribbon-orange.ribbon-left:after {
  border-inline-start: 12px solid rgb(var(--orange-rgb));
}
.ribbon-6.ribbon-orange.ribbon-right:after {
  border-inline-end: 12px solid rgb(var(--orange-rgb));
}
.ribbon-6.ribbon-left {
  inset-inline-start: 0;
}
.ribbon-6.ribbon-left:after {
  content: "";
  position: absolute;
  inset-block-start: 0;
  inset-block-end: 0;
  inset-inline-end: -12px;
  border-block-start: 12px solid transparent;
  border-block-end: 11px solid transparent;
  width: 0;
}
.ribbon-6.ribbon-right {
  inset-inline-end: 0;
}
.ribbon-6.ribbon-right:after {
  content: "";
  position: absolute;
  inset-block-start: 0;
  inset-block-end: 0;
  inset-inline-start: -12px;
  border-block-end: 12px solid transparent;
  border-block-start: 11px solid transparent;
  width: 0;
}

/* ribbon-6 */
/* End:: ribbons */