.card-img-overlay-profile {
  position: absolute;
  background-color: var(--primary05);
  height: 200px;
  width: 100%;
  color: #fff;
  padding: 1.5rem;
}

#chart-1,
#chart-2,
#chart-3,
#chart-4 {
  position: absolute;
  bottom: 38px;
  inset-inline-end: 16px;
}

.visit-gender.male:before {
  background-color: var(--primary-color);
}

.visit-gender.female:before {
  background-color: rgb(var(--secondary-rgb));
}

.visit-gender {
  position: relative;
}
.visit-gender::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 12px;
  border-radius: 0.5rem;
  inset-block-start: 4px;
  inset-inline-start: -10px;
}

#chart-10,
#chart-11,
#chart-12,
#chart-13 {
  position: absolute;
  inset-block-start: -0.5rem;
  inset-inline-end: 1rem;
}

.widgets-task-list {
  list-style: none;
  position: relative;
  margin-block-end: 0;
}
.widgets-task-list li {
  margin-block-end: 19px;
  position: relative;
}
.widgets-task-list li:last-child {
  margin-block-end: 0;
}
.widgets-task-list li:before {
  content: "";
  position: absolute;
  width: 9px;
  height: 9px;
  background-color: var(--custom-white);
  inset-inline-start: -27px;
  inset-block-start: 7px;
  border-radius: 50%;
}
.widgets-task-list li:nth-child(1):before {
  border: 2px solid var(--primary-color);
}
.widgets-task-list li:nth-child(2):before {
  border: 2px solid rgb(var(--secondary-rgb));
}
.widgets-task-list li:nth-child(3):before {
  border: 2px solid rgb(var(--success-rgb));
}
.widgets-task-list li:nth-child(4):before {
  border: 2px solid rgb(var(--orange-rgb));
}
.widgets-task-list li:nth-child(5):before {
  border: 2px solid rgb(var(--info-rgb));
}
.widgets-task-list li:nth-child(6):before {
  border: 2px solid rgb(var(--warning-rgb));
}
.widgets-task-list:before {
  content: "";
  position: absolute;
  top: 4px;
  bottom: 0;
  height: 90%;
  inset-inline-start: 9px;
  border-inline-start: 1px dashed var(--default-border);
}

#activecustomers .apexcharts-text.apexcharts-datalabel-label {
  fill: var(--text-muted);
}