:root {
  --body-bg-rgb: 242, 244, 249;
  --primary-rgb: 3, 181, 98;
  --secondary-rgb: 127, 103, 257;
  --warning-rgb: 255, 169, 9;
  --info-rgb: 15, 188, 249;
  --success-rgb: 83, 196, 5;
  --danger-rgb: 253, 73, 99;
  --light-rgb: 246, 249, 249;
  --dark-rgb: 10, 10, 10;
  --orange-rgb: 254, 124, 88;
  --pink-rgb: 254, 84, 155;
  --teal-rgb: 0, 216, 216;
  --purple-rgb: 123, 118, 254;
  --green-rgb: 1, 239, 140;
  --default-body-bg-color: rgb(var(--body-bg-rgb));
  --primary-color: rgb(var(--primary-rgb));
  --primary-border: rgb(var(--primary-rgb));
  --primary01: rgba(var(--primary-rgb), 0.1);
  --primary02: rgba(var(--primary-rgb), 0.2);
  --primary03: rgba(var(--primary-rgb), 0.3);
  --primary04: rgba(var(--primary-rgb), 0.4);
  --primary05: rgba(var(--primary-rgb), 0.5);
  --primary06: rgba(var(--primary-rgb), 0.6);
  --primary07: rgba(var(--primary-rgb), 0.7);
  --primary08: rgba(var(--primary-rgb), 0.8);
  --primary09: rgba(var(--primary-rgb), 0.9);
  --primary005: rgba(var(--primary-rgb), 0.05);
  --default-font-family: "Plus Jakarta Sans", sans-serif;
  --default-font-weight: 400;
  --default-text-color: #010101;
  --default-border: #eeedf3;
  --default-background: #f9fafb;
  --menu-bg: #fff;
  --menu-prime-color: #61748f;
  --menu-border-color: #e2e5e7;
  --header-bg: #fff;
  --header-prime-color: #61748f;
  --header-border-color: #e2e5e7;
  --custom-white: #fff;
  --custom-black: #000;
  --bootstrap-card-border: #e2e5e7;
  --list-hover-focus-bg: #f5f6f7;
  --text-muted: #8d9eb5;
  --input-border: #e2e6f1;
  --form-control-bg: #ffffff;
  --bs-link-color-rgb: var(--default-text-color);
  /* Gray set */
  --gray-1: #f9fafb;
  --gray-2: #f2f4f5;
  --gray-3: #e6eaeb;
  --gray-4: #dbdfe1;
  --gray-5: #949eb7;
  --gray-6: #7987a1;
  --gray-7: #4d5875;
  --gray-8: #383853;
  --gray-9: #323251;
  /* White set */
  --white-1: rgba(255, 255, 255, 0.1);
  --white-2: rgba(255, 255, 255, 0.2);
  --white-3: rgba(255, 255, 255, 0.3);
  --white-4: rgba(255, 255, 255, 0.4);
  --white-5: rgba(255, 255, 255, 0.5);
  --white-6: rgba(255, 255, 255, 0.6);
  --white-7: rgba(255, 255, 255, 0.7);
  --white-8: rgba(255, 255, 255, 0.8);
  --white-9: rgba(255, 255, 255, 0.9);
  /* Black set */
  --black-1: rgba(0, 0, 0, 0.1);
  --black-2: rgba(0, 0, 0, 0.2);
  --black-3: rgba(0, 0, 0, 0.3);
  --black-4: rgba(0, 0, 0, 0.4);
  --black-5: rgba(0, 0, 0, 0.5);
  --black-6: rgba(0, 0, 0, 0.6);
  --black-7: rgba(0, 0, 0, 0.7);
  --black-8: rgba(0, 0, 0, 0.8);
  --black-9: rgba(0, 0, 0, 0.9);
}

/*Font Family*/
/*Font Size*/
/*Font Weight*/
/*Body & Text colors*/
/*Default Background Color*/
/*Border Color*/
/*Border Radius*/
/*Box Shadow*/
/* Header Variables */
/*Menu Variables*/
/*Color Variables*/
/* social icons colors */
/*gradient variables*/
/*gray set*/
/*white set*/
/*black set*/
/* dark mode */
[data-theme-mode=dark] {
  --body-bg-rgb: 25, 25, 28;
  --body-bg-rgb2: 45, 45, 48;
  --menu-bg: rgb(var(--body-bg-rgb));
  --menu-border-color: rgba(255, 255, 255, 0.1);
  --menu-prime-color: rgba(255,255,255,0.4);
  --header-bg: rgb(var(--body-bg-rgb));
  --header-prime-color: rgba(255,255,255,0.4);
  --header-border-color: rgba(255, 255, 255, 0.1);
  --custom-white: rgb(var(--body-bg-rgb));
  --custom-black: #fff;
  --default-border: rgba(255, 255, 255, 0.1);
  --default-text-color: rgba(255, 255, 255, 0.8);
  --light-rgb: 43, 46, 49;
  --dark-rgb: 240, 245, 248;
  --bootstrap-card-border: rgba(255, 255, 255, 0.1);
  --list-hover-focus-bg: rgba(255, 255, 255, 0.1);
  --default-background: rgb(var(--body-bg-rgb2));
  --default-body-bg-color: rgb(var(--body-bg-rgb2));
  --text-muted: rgba(255, 255, 255, 0.5);
  --input-border: rgba(255, 255, 255, 0.1);
  --form-control-bg: rgb(var(--body-bg-rgb));
  color-scheme: dark;
  /* Gray Set */
  --gray-1: #110f0f;
  --gray-2: #17171c;
  --gray-3: #393946;
  --gray-4: #505062;
  --gray-5: #73738c;
  --gray-6: #8f8fa3;
  --gray-7: #ababba;
  --gray-8: #c7c7d1;
  --gray-9: #e3e3e8;
  /* white set */
  --white-1: rgba(0, 0, 0, 0.1);
  --white-2: rgba(0, 0, 0, 0.2);
  --white-3: rgba(0, 0, 0, 0.3);
  --white-4: rgba(0, 0, 0, 0.4);
  --white-5: rgba(0, 0, 0, 0.5);
  --white-6: rgba(0, 0, 0, 0.6);
  --white-7: rgba(0, 0, 0, 0.7);
  --white-8: rgba(0, 0, 0, 0.8);
  --white-9: rgba(0, 0, 0, 0.9);
  /* black set */
  --black-1: rgba(255, 255, 255, 0.1);
  --black-2: rgba(255, 255, 255, 0.2);
  --black-3: rgba(255, 255, 255, 0.3);
  --black-4: rgba(255, 255, 255, 0.4);
  --black-5: rgba(255, 255, 255, 0.5);
  --black-6: rgba(255, 255, 255, 0.6);
  --black-7: rgba(255, 255, 255, 0.7);
  --black-8: rgba(255, 255, 255, 0.8);
  --black-9: rgba(255, 255, 255, 0.9);
}

/* Start::basic sizes */
.fs-sm {
  font-size: 0.6875rem;
}

.fs-base {
  font-size: 0.875rem;
}

.fs-lg {
  font-size: 1.125rem;
}

/* End::basic sizes */
/* Start::font sizes */
.fs-1 {
  font-size: 0.0625rem;
}

.fs-2 {
  font-size: 0.125rem;
}

.fs-3 {
  font-size: 0.1875rem;
}

.fs-4 {
  font-size: 0.25rem;
}

.fs-5 {
  font-size: 0.3125rem;
}

.fs-6 {
  font-size: 0.375rem;
}

.fs-7 {
  font-size: 0.4375rem;
}

.fs-8 {
  font-size: 0.5rem;
}

.fs-9 {
  font-size: 0.5625rem;
}

.fs-10 {
  font-size: 0.625rem;
}

.fs-11 {
  font-size: 0.6875rem;
}

.fs-12 {
  font-size: 0.75rem;
}

.fs-13 {
  font-size: 0.8125rem;
}

.fs-14 {
  font-size: 0.875rem;
}

.fs-15 {
  font-size: 0.9375rem;
}

.fs-16 {
  font-size: 1rem;
}

.fs-17 {
  font-size: 1.0625rem;
}

.fs-18 {
  font-size: 1.125rem;
}

.fs-19 {
  font-size: 1.1875rem;
}

.fs-20 {
  font-size: 1.25rem;
}

.fs-21 {
  font-size: 1.3125rem;
}

.fs-22 {
  font-size: 1.375rem;
}

.fs-23 {
  font-size: 1.4375rem;
}

.fs-24 {
  font-size: 1.5rem;
}

.fs-25 {
  font-size: 1.5625rem;
}

.fs-26 {
  font-size: 1.625rem;
}

.fs-27 {
  font-size: 1.6875rem;
}

.fs-28 {
  font-size: 1.75rem;
}

.fs-29 {
  font-size: 1.8125rem;
}

.fs-30 {
  font-size: 1.875rem;
}

.fs-32 {
  font-size: 2rem;
}

.fs-34 {
  font-size: 2.125rem;
}

.fs-36 {
  font-size: 2.25rem;
}

.fs-38 {
  font-size: 2.375rem;
}

.fs-40 {
  font-size: 2.5rem;
}

/* End::font sizes */
/* Start::text colors */
.text-default {
  color: var(--default-text-color) !important;
}

.text-muted {
  color: var(--text-muted) !important;
}

.text-primary {
  color: var(--primary-color) !important;
  opacity: 1;
}
.text-primary.text-opacity-75 {
  color: var(--primary08) !important;
}
.text-primary.text-opacity-25 {
  color: var(--primary03) !important;
}
.text-primary.text-opacity-50 {
  color: var(--primary05) !important;
}

.text-secondary {
  color: rgb(var(--secondary-rgb)) !important;
  opacity: 1;
}
.text-secondary.text-opacity-75 {
  color: rgba(var(--secondary-rgb), 0.75) !important;
}
.text-secondary.text-opacity-25 {
  color: rgba(var(--secondary-rgb), 0.25) !important;
}
.text-secondary.text-opacity-50 {
  color: rgba(var(--secondary-rgb), 0.5) !important;
}

.text-info {
  color: rgb(var(--info-rgb)) !important;
  opacity: 1;
}
.text-info.text-opacity-75 {
  color: rgba(var(--info-rgb), 0.75) !important;
}
.text-info.text-opacity-25 {
  color: rgba(var(--info-rgb), 0.25) !important;
}
.text-info.text-opacity-50 {
  color: rgba(var(--info-rgb), 0.5) !important;
}

.text-success {
  color: rgb(var(--success-rgb)) !important;
  opacity: 1;
}
.text-success.text-opacity-75 {
  color: rgba(var(--success-rgb), 0.75) !important;
}
.text-success.text-opacity-25 {
  color: rgba(var(--success-rgb), 0.25) !important;
}
.text-success.text-opacity-50 {
  color: rgba(var(--success-rgb), 0.5) !important;
}

.text-warning {
  color: rgb(var(--warning-rgb)) !important;
  opacity: 1;
}
.text-warning.text-opacity-75 {
  color: rgba(var(--warning-rgb), 0.75) !important;
}
.text-warning.text-opacity-25 {
  color: rgba(var(--warning-rgb), 0.25) !important;
}
.text-warning.text-opacity-50 {
  color: rgba(var(--warning-rgb), 0.5) !important;
}

.text-danger {
  color: rgb(var(--danger-rgb)) !important;
  opacity: 1;
}
.text-danger.text-opacity-75 {
  color: rgba(var(--danger-rgb), 0.75) !important;
}
.text-danger.text-opacity-25 {
  color: rgba(var(--danger-rgb), 0.25) !important;
}
.text-danger.text-opacity-50 {
  color: rgba(var(--danger-rgb), 0.5) !important;
}

.text-blue {
  color: #0082FF !important;
}

.text-green {
  color: rgb(var(--green-rgb)) !important;
}

.text-pink {
  color: rgb(var(--pink-rgb)) !important;
}

.text-teal {
  color: rgb(var(--teal-rgb)) !important;
}

.text-orange {
  color: rgb(var(--orange-rgb)) !important;
}

.text-indigo {
  color: #4d5ddb !important;
}

.text-purple {
  color: rgb(var(--purple-rgb)) !important;
}

.text-dark {
  color: rgb(var(--dark-rgb)) !important;
}

.text-light {
  color: rgb(var(--light-rgb)) !important;
}

.text-gray {
  color: var(--gray-5) !important;
}

.text-yellow {
  color: #fff621 !important;
}

.text-black {
  color: var(--custom-black) !important;
}

.text-white {
  color: var(--custom-white) !important;
}

.text-fixed-white {
  color: #fff !important;
}

.text-fixed-black {
  color: #000 !important;
}

.text-gray-1 {
  color: var(--gray-1);
}

.text-gray-2 {
  color: var(--gray-2);
}

.text-gray-3 {
  color: var(--gray-3);
}

.text-gray-4 {
  color: var(--gray-4);
}

.text-gray-5 {
  color: var(--gray-5);
}

.text-gray-6 {
  color: var(--gray-6);
}

.text-gray-7 {
  color: var(--gray-7);
}

.text-gray-8 {
  color: var(--gray-8);
}

.text-gray-9 {
  color: var(--gray-9);
}

/* End::text colors */
/* Start::links */
a {
  text-decoration: none;
  color: rgba(var(--dark-rgb), var(--bs-link-opacity, 1));
}
a:hover {
  opacity: 1;
  color: rgba(var(--dark-rgb), var(--bs-link-opacity, 1));
}
a.link-underline {
  text-decoration-color: rgba(var(--dark-rgb), var(--bs-link-underline-opacity)) !important;
}
a.link-underline-primary {
  text-decoration-color: rgba(var(--primary-rgb), var(--bs-link-underline-opacity)) !important;
}
a.link-underline-secondary {
  text-decoration-color: rgba(var(--secondary-rgb), var(--bs-link-underline-opacity)) !important;
}
a.link-underline-warning {
  text-decoration-color: rgba(var(--warning-rgb), var(--bs-link-underline-opacity)) !important;
}
a.link-underline-info {
  text-decoration-color: rgba(var(--info-rgb), var(--bs-link-underline-opacity)) !important;
}
a.link-underline-success {
  text-decoration-color: rgba(var(--success-rgb), var(--bs-link-underline-opacity)) !important;
}
a.link-underline-danger {
  text-decoration-color: rgba(var(--danger-rgb), var(--bs-link-underline-opacity)) !important;
}
a.link-underline-light {
  text-decoration-color: rgba(var(--light-rgb), var(--bs-link-underline-opacity)) !important;
}
a.link-underline-dark {
  text-decoration-color: rgba(var(--dark-rgb), var(--bs-link-underline-opacity)) !important;
}

/* End::links */
/* Start::Colored Links */
.link-primary {
  color: var(--primary-color) !important;
  text-decoration-color: rgba(var(--primary-rgb), var(--bs-link-underline-opacity, 1)) !important;
}
.link-primary:hover, .link-primary:focus, .link-primary:active {
  text-decoration-color: rgba(var(--primary-rgb), var(--bs-link-underline-opacity, 1)) !important;
  color: var(--primary-color) !important;
}

.link-secondary {
  color: rgb(var(--secondary-rgb)) !important;
  text-decoration-color: rgba(var(--secondary-rgb), var(--bs-link-underline-opacity, 1)) !important;
}
.link-secondary:hover, .link-secondary:focus, .link-secondary:active {
  text-decoration-color: rgba(var(--secondary-rgb), var(--bs-link-underline-opacity, 1)) !important;
  color: rgb(var(--secondary-rgb)) !important;
}

.link-success {
  color: rgb(var(--success-rgb)) !important;
  text-decoration-color: rgba(var(--success-rgb), var(--bs-link-underline-opacity, 1)) !important;
}
.link-success:hover, .link-success:focus, .link-success:active {
  text-decoration-color: rgba(var(--success-rgb), var(--bs-link-underline-opacity, 1)) !important;
  color: rgb(var(--success-rgb)) !important;
}

.link-danger {
  color: rgb(var(--danger-rgb)) !important;
  text-decoration-color: rgba(var(--danger-rgb), var(--bs-link-underline-opacity, 1)) !important;
}
.link-danger:hover, .link-danger:focus, .link-danger:active {
  text-decoration-color: rgba(var(--danger-rgb), var(--bs-link-underline-opacity, 1)) !important;
  color: rgb(var(--danger-rgb)) !important;
}

.link-warning {
  color: rgb(var(--warning-rgb)) !important;
  text-decoration-color: rgba(var(--warning-rgb), var(--bs-link-underline-opacity, 1)) !important;
}
.link-warning:hover, .link-warning:focus, .link-warning:active {
  text-decoration-color: rgba(var(--warning-rgb), var(--bs-link-underline-opacity, 1)) !important;
  color: rgb(var(--warning-rgb)) !important;
}

.link-info {
  color: rgb(var(--info-rgb)) !important;
  text-decoration-color: rgba(var(--info-rgb), var(--bs-link-underline-opacity, 1)) !important;
}
.link-info:hover, .link-info:focus, .link-info:active {
  text-decoration-color: rgba(var(--info-rgb), var(--bs-link-underline-opacity, 1)) !important;
  color: rgb(var(--info-rgb)) !important;
}

.link-light {
  color: rgb(var(--light-rgb)) !important;
  text-decoration-color: rgba(var(--light-rgb), var(--bs-link-underline-opacity, 1)) !important;
}
.link-light:hover, .link-light:focus, .link-light:active {
  text-decoration-color: rgba(var(--light-rgb), var(--bs-link-underline-opacity, 1)) !important;
  color: rgb(var(--light-rgb)) !important;
}

.link-dark {
  color: rgb(var(--dark-rgb)) !important;
  text-decoration-color: rgba(var(--dark-rgb), var(--bs-link-underline-opacity, 1)) !important;
}
.link-dark:hover, .link-dark:focus, .link-dark:active {
  text-decoration-color: rgba(var(--dark-rgb), var(--bs-link-underline-opacity, 1)) !important;
  color: rgb(var(--dark-rgb)) !important;
}

/* End::Colored Links */
/* Start::Blockquote */
.blockquote-container {
  padding: 1.25rem;
  border: 1px solid var(--default-border);
  border-block-start: 4px solid var(--default-border);
  border-radius: 0.5rem;
  position: relative;
}
.blockquote-container:before {
  position: absolute;
  content: "\f6b0";
  font-family: bootstrap-icons !important;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 0.813rem;
  font-weight: 400;
  border: 1px solid var(--default-border);
  background-color: var(--custom-white);
  top: -0.875rem;
  align-items: center;
  display: flex;
  padding: 0px;
  justify-content: center;
  border-radius: 3.125rem;
  inset-inline-start: 50%;
  box-shadow: 0px 0.25rem 1rem rgba(0, 0, 0, 0.1);
}

.blockquote.custom-blockquote {
  font-size: 0.85rem;
  font-weight: 400;
  padding: 1rem;
  border-radius: 0.5rem;
  position: relative;
}
.blockquote.custom-blockquote:before {
  content: "\f6b0";
  font-family: bootstrap-icons !important;
  z-index: 0;
  font-size: 4rem;
  position: absolute;
  inset-block-start: -1.5rem;
  inset-inline-start: -0.25rem;
}
.blockquote.custom-blockquote .quote-icon {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3.125rem;
  position: absolute;
  inset-block-start: -1rem;
  inset-inline-end: -1rem;
  background-color: var(--custom-white);
}
.blockquote.custom-blockquote .quote-icon i {
  font-size: 1.75rem;
  font-weight: 500;
}
.blockquote.custom-blockquote.primary {
  background-color: var(--primary01);
  border-inline-start: 2px solid var(--primary-color);
  border-block-start: 2px solid var(--primary-color);
}
.blockquote.custom-blockquote.primary .quote-icon i {
  color: var(--primary-color);
}
.blockquote.custom-blockquote.primary:before {
  color: var(--primary01);
}
.blockquote.custom-blockquote.secondary {
  background-color: rgba(var(--secondary-rgb), 0.1);
  border-inline-start: 2px solid rgb(var(--secondary-rgb));
  border-block-start: 2px solid rgb(var(--secondary-rgb));
}
.blockquote.custom-blockquote.secondary .quote-icon i {
  color: rgb(var(--secondary-rgb));
}
.blockquote.custom-blockquote.secondary:before {
  color: rgba(var(--secondary-rgb), 0.1);
}
.blockquote.custom-blockquote.info {
  background-color: rgba(var(--info-rgb), 0.1);
  border-inline-start: 2px solid rgb(var(--info-rgb));
  border-block-start: 2px solid rgb(var(--info-rgb));
}
.blockquote.custom-blockquote.info .quote-icon i {
  color: rgb(var(--info-rgb));
}
.blockquote.custom-blockquote.info:before {
  color: rgba(var(--info-rgb), 0.1);
}
.blockquote.custom-blockquote.warning {
  background-color: rgba(var(--warning-rgb), 0.1);
  border-inline-start: 2px solid rgb(var(--warning-rgb));
  border-block-start: 2px solid rgb(var(--warning-rgb));
}
.blockquote.custom-blockquote.warning .quote-icon i {
  color: rgb(var(--warning-rgb));
}
.blockquote.custom-blockquote.warning:before {
  color: rgba(var(--warning-rgb), 0.1);
}
.blockquote.custom-blockquote.success {
  background-color: rgba(var(--success-rgb), 0.1);
  border-inline-start: 2px solid rgb(var(--success-rgb));
  border-block-start: 2px solid rgb(var(--success-rgb));
}
.blockquote.custom-blockquote.success .quote-icon i {
  color: rgb(var(--success-rgb));
}
.blockquote.custom-blockquote.success:before {
  color: rgba(var(--success-rgb), 0.1);
}
.blockquote.custom-blockquote.danger {
  background-color: rgba(var(--danger-rgb), 0.1);
  border-inline-start: 2px solid rgb(var(--danger-rgb));
  border-block-start: 2px solid rgb(var(--danger-rgb));
}
.blockquote.custom-blockquote.danger .quote-icon i {
  color: rgb(var(--danger-rgb));
}
.blockquote.custom-blockquote.danger:before {
  color: rgba(var(--danger-rgb), 0.1);
}

.blockquote.custom-blockquoteblog {
  font-size: 0.85rem;
  font-weight: 400;
  padding: 1rem;
  border-radius: 0.5rem;
  position: relative;
}
.blockquote.custom-blockquoteblog:before {
  content: "\f6b0";
  font-family: bootstrap-icons !important;
  z-index: 0;
  font-size: 3rem;
  position: absolute;
  inset-block-start: -0.5rem;
  inset-inline-start: 0.5rem;
}
.blockquote.custom-blockquoteblog .quote-icon {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3.125rem;
  position: absolute;
  inset-block-start: -1rem;
  inset-inline-end: -1rem;
  background-color: var(--custom-white);
}
.blockquote.custom-blockquoteblog .quote-icon i {
  font-size: 1.75rem;
  font-weight: 500;
}
.blockquote.custom-blockquoteblog.secondary {
  background-color: rgba(var(--secondary-rgb), 0.1);
  border: 1px solid rgb(var(--secondary-rgb));
}
.blockquote.custom-blockquoteblog.secondary .quote-icon i {
  color: rgb(var(--secondary-rgb));
}
.blockquote.custom-blockquoteblog.secondary:before {
  color: rgba(var(--secondary-rgb), 0.2);
}

/* End::Blockquote */
/* Start::Shadows */
.shadow-inset {
  box-shadow: inset -4px -4px 4px rgba(0, 0, 0, 0.15);
}

[data-theme-mode=dark] .shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(33, 37, 41, 0.3) !important;
}
[data-theme-mode=dark] .shadow {
  box-shadow: 0 0.5rem 1rem rgba(33, 37, 41, 0.3) !important;
}
[data-theme-mode=dark] .shadow-lg {
  box-shadow: 0 1rem 3rem rgba(33, 37, 41, 0.3) !important;
}

/* End::Shadows */
@media screen and (min-width: 576px) {
  .w-sm-auto {
    width: auto;
  }
}
@media (min-width: 576px) {
  .w-sm-50 {
    width: 50% !important;
  }
}
.w-auto {
  width: auto;
}

/* Start::Text Break */
[dir=rtl] .text-break {
  word-wrap: break-word !important;
  word-break: break-word !important;
}

/* End::Text Break */
/* Start::Transform */
.transform-none {
  transform: none !important;
}

/* End::Transform */
/* Start::Text gradient */
.text-gradient {
  background: linear-gradient(to bottom right, var(--primary-color) 0%, rgb(var(--secondary-rgb)) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: rgba(255, 255, 255, 0.001);
}

/* End::Text gradient */
/* Start:: Focus Ring */
.focus-ring:focus {
  --bs-focus-ring-color: rgba(var(--primary-rgb), var(--bs-focus-ring-opacity));
}
.focus-ring.focus-ring-secondary:focus {
  --bs-focus-ring-color: rgba(var(--secondary-rgb), var(--bs-focus-ring-opacity));
}
.focus-ring.focus-ring-success:focus {
  --bs-focus-ring-color: rgba(var(--success-rgb), var(--bs-focus-ring-opacity));
}
.focus-ring.focus-ring-danger:focus {
  --bs-focus-ring-color: rgba(var(--danger-rgb), var(--bs-focus-ring-opacity));
}
.focus-ring.focus-ring-warning:focus {
  --bs-focus-ring-color: rgba(var(--warning-rgb), var(--bs-focus-ring-opacity));
}
.focus-ring.focus-ring-info:focus {
  --bs-focus-ring-color: rgba(var(--info-rgb), var(--bs-focus-ring-opacity));
}
.focus-ring.focus-ring-light:focus {
  --bs-focus-ring-color: rgba(var(--light-rgb), var(--bs-focus-ring-opacity));
}
.focus-ring.focus-ring-dark:focus {
  --bs-focus-ring-color: rgba(var(--dark-rgb), var(--bs-focus-ring-opacity));
}

/* End:: Focus Ring */